<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-lg-3 p-md-0 text-center text-lg-left">
        <h2 class="page-heading" (click)="loadAll()">Bienvenido <small class="text-muted p-2"> Indicadores</small></h2>
    </div>
    <div class="col-lg-9 p-md-0 mt-2 mt-sm-0">
        <div class="row justify-content-sm-center justify-content-md-end">
            <div class="form-group col-6 col-lg-3">
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-6 col-lg-3">
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-10 col-lg-3">
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>

            <div class="form-group col-2 col-lg-1">
                <button type="submit" (click)="loadAll()" tooltip="Filtrar" [disabled]="loading" class="btn btn-default">
                    <span *ngIf="!loading"><i class="fa fa-filter"></i></span>
                    <span *ngIf="loading">...</span>
                </button>
            </div>
        </div>
    </div>
</div>


<app-datos *ngIf="dash.total_ordenes_semana" [dash]="dash"></app-datos>

<app-tops *ngIf="dash.total_ordenes_semana" [dash]="dash"></app-tops>

<!-- <app-ordenes-datos *ngIf="dash.total_ordenes_semana" [dash]="dash"></app-ordenes-datos> -->

<!-- <app-dash-slider></app-dash-slider> -->
<!-- <app-calendario></app-calendario> -->

