<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos más vendidos</h4>
                <div class="custom-tab-1">
                    <tabset #staticTabs class="tab-content-default" *ngIf="dash?.productos?.length">
                        <tab class="pt-4" heading="Menú">
                            <div class="row" style="min-height: 300px;">
                                <div class="col-md-6">
                                    <div class="chart-wrapper">
                                        <canvas baseChart class="chart"
                                            [data]="chartData"
                                            [options]="chartOptions"
                                            [labels]="chartLabels"
                                            [legend]="false"
                                            [type]="chartType">
                                        </canvas>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4 mt-md-0">
                                    <div class="mb-3" *ngFor="let producto of dash?.productos; let i=index">
                                        <div class="d-flex justify-content-between">
                                            <p>{{ producto.nombre }}</p>
                                            <p><b class="text-dark">{{ producto.total | number:'1.0' }} </b> ({{ (producto.total / (dash.productos | sum:'total') * 100) | number:'1.0-0' }}%)</p>
                                        </div>
                                        <div class="progress mt-2">
                                            <div class="progress-bar" [ngClass]="{ 'bg-danger' : i == 0, 'bg-info' : i == 1, 'bg-warning' : i == 2, 'bg-secondary' : i == 3, 'bg-success' : i == 4 }" 
                                            style="width: {{ (producto.total / (dash.productos | sum:'total') * 100) | number:'1.0-0' }}%;" role="progressbar"></div>
                                        </div>                
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <div class="row" *ngIf="!dash?.productos?.length"  style="min-height: 300px;">
                        <div class="text-muted text-center py-5">
                            <i class="fa fa-chart-pie fa-5x"></i>
                            <br>
                            Aún no hay datos
                            <br>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

<!--     <div class="col-lg-6">
        <div class="card top_menu_widget">
            <div class="card-body">
                <h4 class="card-title">Top Menu</h4>
                <div class="media border-bottom pt-3 pb-3">
                    <img width="50" height="50"  alt="#" class="mr-3" src="assets/images/menu/menu1.png">
                    <div class="media-body">
                        <h5 class="mb-1 mt-sm-1 mt-0">Fried Egg Sandwich</h5>
                        <span>Egg, Sandwich</span>
                    </div>
                    <h5 class="badge-lighten-primary">$268</h5>
                </div>
                <div class="media border-bottom pt-3 pb-3">
                    <img width="50" height="50"  alt="#" class="mr-3" src="assets/images/menu/menu2.png">
                    <div class="media-body">
                        <h5 class="mb-1 mt-sm-1 mt-0">French Crostini</h5>
                        <span>French, Spicy</span>
                    </div>
                    <h5 class="badge-lighten-success">$268</h5>
                </div>
                <div class="media border-bottom pt-3 pb-3">
                    <img width="50" height="50"  alt="#" class="mr-3" src="assets/images/menu/menu3.png">
                    <div class="media-body">
                        <h5 class="mb-1 mt-sm-1 mt-0">Redwine and Colddrinks</h5>
                        <span>Drinks, Wine</span>
                    </div>
                    <h5 class="badge-lighten-info">$268</h5>
                </div>
                <div class="media border-bottom pt-3 pb-3">
                    <img width="50" height="50"  alt="#" class="mr-3" src="assets/images/menu/menu4.png">
                    <div class="media-body">
                        <h5 class="mb-1 mt-sm-1 mt-0">Multigrain Hot Cereal</h5>
                        <span>Hot, Spicy</span>
                    </div>
                    <h5 class="badge-lighten-warning">$268</h5>
                </div>
            </div>
        </div>
    </div> -->

<!-- <div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Timeline</h4>
                <div id="timeline-activity">
                    <ul class="timeline mb-0">
                        <li>
                            <div class="timeline-badge bg-primary"></div>
                            <a href="#" class="timeline-panel">
                                <span>10 minutes ago</span>
                                <h5 class="mt-2">New Order received</h5>
                            </a>
                        </li>
                        <li>
                            <div class="timeline-badge bg-success"></div>
                            <a href="#" class="timeline-panel">
                                <span>20 minutes ago</span>
                                <h5 class="mt-2">5 Orders Delivered</h5>
                            </a>
                        </li>
                        <li>
                            <div class="timeline-badge bg-warning"></div>
                            <a href="#" class="timeline-panel">
                                <span>30 minutes ago</span>
                                <h5 class="mt-2">3 New Tickets</h5>
                            </a>
                        </li>
                        <li>
                            <div class="timeline-badge bg-danger"></div>
                            <a href="#" class="timeline-panel">
                                <span>15 minutes ago</span>
                                <h5 class="mt-2">8 New Reviews</h5>
                            </a>
                        </li>
                        <li>
                            <div class="timeline-badge bg-pink"></div>
                            <a href="#" class="timeline-panel">
                                <span>15 minutes ago</span>
                                <h5 class="mt-2">50 New Facebook likes</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body px-0">
                <h4 class="card-title px-4 mb-3">Todo</h4>
                <div class="todo-list">
                    <div class="tdl-holder">
                        <div class="tdl-content">
                            <ul id="todo_list">
                                <li><label><input type="checkbox"><i></i><span>Decorate kitchen room</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox"><i></i><span>New feature launching</span><a href='#' class="ti-trash"></a></label></li>
                                <li><label><input type="checkbox" checked><i></i><span>Meeting with KFC</span><a href='#' class="ti-trash"></a></label></li>
                            </ul>
                        </div>
                        <div class="px-4">
                            <input type="text" class="tdl-new form-control" placeholder="Write new item and hit 'Enter'...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ticket</h4>
                <div id="ticket">
                    <div class="media border-bottom pt-3 pb-3">
                        <strong>#45458</strong>
                        <div class="media-body ml-3">
                            <a href="#">
                                <h5 class="text-info">Want new Menu</h5>
                                <p class="mb-0">Last updated: <span>Apr 19, 2018 (10:05 AM)</span></p>
                            </a>
                        </div>
                        <span class="badge badge-success">Closed</span>
                    </div>
                    <div class="media border-bottom pt-3 pb-3">
                        <strong>#45458</strong>
                        <div class="media-body ml-3">
                            <a href="#">
                                <h5 class="text-primary">Delivery Delayed</h5>
                                <p class="mb-0">Last updated: <span>Apr 19, 2018 (10:05 AM)</span></p>
                            </a>
                        </div>
                        <span class="badge badge-primary">Open</span>
                    </div>
                    <div class="media border-bottom pt-3 pb-3">
                        <strong>#45458</strong>
                        <div class="media-body ml-3">
                            <a href="#">
                                <h5 class="text-info">My order cencelled</h5>
                                <p class="mb-0">Last updated: <span>Apr 19, 2018 (10:05 AM)</span></p>
                            </a>
                        </div>
                        <span class="badge badge-success">Closed</span>
                    </div>
                    <div class="media pt-3 pb-3">
                        <strong>#45458</strong>
                        <div class="media-body ml-3">
                            <a href="#">
                                <h5 class="text-warning">App not responding</h5>
                                <p class="mb-0">Last updated: <span>Apr 19, 2018 (10:05 AM)</span></p>
                            </a>
                        </div>
                        <span class="badge badge-warning">Pending</span>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
 -->
<!--     <div class="col-lg-6">
        <div class="card performence_score">
            <div class="card-body">
                <h4 class="card-title">Top Meseros</h4>
                <div id="activity">
                    <div class="media border-bottom pt-3 pb-3">
                        <img src="assets/images/avatar/1.jpg" alt="avatar" class="mr-3">
                        <div class="media-body">
                            <h5 class="mt-1">Mark Twine</h5>
                            <p class="mb-0">Senior Chef</p>
                        </div>
                        <span class="text-dark"><b>87</b> <small> (Comandas)</small></span>
                    </div>
                    <div class="media border-bottom pt-3 pb-3">
                        <img src="assets/images/avatar/2.jpg" alt="avatar" class="mr-3">
                        <div class="media-body">
                            <h5 class="mt-1">Spillberg</h5>
                            <p class="mb-0">Marketing Manager</p>
                        </div>
                        <span class="text-dark"><b>85</b> <small> (Comandas)</small></span>
                    </div>
                    <div class="media border-bottom pt-3 pb-3">
                        <img src="assets/images/avatar/1.jpg" alt="avatar" class="mr-3">
                        <div class="media-body">
                            <h5 class="mt-1">Mark Twine</h5>
                            <p class="mb-0">Senior Chef</p>
                        </div>
                        <span class="text-dark"><b>87</b> <small> (Comandas)</small></span>
                    </div>
                    <div class="media border-bottom pt-3 pb-3">
                        <img src="assets/images/avatar/2.jpg" alt="avatar" class="mr-3">
                        <div class="media-body">
                            <h5 class="mt-1">Spillberg</h5>
                            <p class="mb-0">Marketing Manager</p>
                        </div>
                        <span class="text-dark"><b>85</b> <small> (Comandas)</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
</div>
