<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Activos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Activos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="activos?.total">
            {{ activos?.total + ' registros' }}
            <span>Total: {{ activos?.data | sum:'costo' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <!-- <form name="form" (ngSubmit)="search()" autocomplete="off"> -->
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <!-- <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button> -->
                <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <button (click)="openModal(mactivo, {})" tooltip="Crear" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <!-- </form> -->

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de compra</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Ubicación</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="activos?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene activos registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let activo of activos?.data | filter:['nombre']:buscador">
                        
                        <td>{{activo.id }} </td>
                        <td>{{activo.fecha_compra | date:'dd/MM/yyyy'}}</td>
                        <td>{{activo.nombre }} </td>
                        <td>{{activo.descripcion | truncate:30}}</td>
                        <td>{{activo.ubicacion | truncate:30}}</td>
                        <td class="text-center">{{activo.costo | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(activo.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" (click)="openModal(mactivo, activo)" tooltip="Editar">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="activos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="activos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mactivo>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Activo</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="">Fecha compra:</label>
                <input type="date" class="form-control" name="activo.fecha_compra" [(ngModel)]="activo.fecha_compra" focus="true"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="activo.usuario">Nombre:</label>
                <input type="text" class="form-control" name="activo.nombre" [(ngModel)]="activo.nombre"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="activo.descripcion">Descripción:</label>
                <input type="text" class="form-control" name="activo.descripcion" [(ngModel)]="activo.descripcion"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="activo.ubicacion">Ubicación:</label>
                <input type="text" class="form-control" name="activo.ubicacion" [(ngModel)]="activo.ubicacion"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Costo:</label>
                <input type="number" class="form-control" name="activo.costo" [(ngModel)]="activo.costo"/>
            </div>

            <div class="form-group col-sm-12 mt-5">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Crear</span>
                    <span *ngIf="loading">Creando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
