<button class="tcla-F5 d-none" (click)="loadAll()"></button>

<div class="row pt-4">
    <div class="col-3 col-md-4">
        <h3 class="page-heading">Fecha: <small class="text-muted p-2"> {{caja?.corte?.fecha | date:'dd/MM/yyy'}}</small></h3>
    </div>
    <div class="col-6 col-md-4 text-center">
        <h3>Caja: {{caja?.nombre}}</h3>
        <p class="badge badge-success">{{caja?.corte?.estado}}</p>
    </div>
    <div class="col-3 col-md-4 text-right">
        <h3 class="page-heading">Cajero: <small class="text-muted p-2">{{ apiService.auth_user().name }}</small></h3>
    </div>
</div>

<div *ngIf="loading" class="row"> <p class="col-md-12 text-center text-muted">Cargando...</p> </div>

<div class="row text-center" *ngIf="!loading">
</div>
<div class="row mb-3">
    <div class="col-12 text-center">
        <button routerLink="/facturacion" class="btn btn-default tcla-F1" tooltip="Ir al módulo de faturación"> <i class="fa fa-file-invoice-dollar"></i> Facturación <small>(F1)</small></button>
        <button (click)="modalSupervisor('X')" class="btn btn-default tcla-F2" tooltip="Imprimir corte X"> <i class="fa fa-print"></i> Corte X <small>(F2)</small></button>
        <button (click)="modalSupervisor('Z')" class="btn btn-default tcla-F3" tooltip="Imprimir corte Z y cierra el turno"> <i class="fa fa-print"></i> Corte Z <small>(F3)</small></button>
        <button (click)="openModal(mcorte, caja.corte)" class="btn btn-default tcla-F4"> <i class="fa fa-archive"></i> Configurar caja <small>(F4)</small></button>
    </div>
</div>

<app-caja-ordenes *ngIf="caja?.corte?.id"></app-caja-ordenes>

<ng-template #mcorte>
  <div class="modal-header">
    <h4 class="modal-title text-center">Configuración de Caja</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form name="form" (ngSubmit)="storeCaja()">
            <div class="form-group col-md-12">
                <label for="saldo_inicial">Saldo inicial:</label>
                <input type="number" [(ngModel)]="caja.corte.saldo_inicial" name="saldo_inicial" class="form-control text-center" focus="true">
            </div>
            <div class="form-group col-md-12">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="caja.corte.fecha" name="fecha" class="form-control text-center">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>

<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>
