
<button type="button" (click)="openModal(mcliente)" class="btn btn-default tcla-F6 btn-block" tooltip="Crear">
    Nuevo cliente <small>(F6)</small>
</button>

<ng-template #mcliente>
  <div class="modal-header text-center">
    <h3 class="modal-title">Cliente</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submit()">
    <div class="row">
        
        <div class="form-group col-md-6">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="cliente.name">
        </div>
        <div class="form-group col-md-6">
            <label for="lastname">Apellido:</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="cliente.lastname">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Correo:</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email">
        </div>
        <div class="form-group col-6 col-md-6">
            <label for="sexo">Sexo:</label>
            <select class="form-control" name="sexo" [(ngModel)]="cliente.sexo">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="form-group col-6 col-md-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" name="telefono" [(ngModel)]="cliente.telefono">
        </div>
        <div class="form-group col-6 col-md-4">
            <label for="fecha_nacimiento">Fecha nacimiento:</label>
            <input type="text" class="form-control" name="fecha_nacimiento" [(ngModel)]="cliente.fecha_nacimiento">
        </div>
        <div class="form-group col-6 col-md-4">
            <label for="pais">Pais:</label>
            <input type="text" class="form-control" name="pais" [(ngModel)]="cliente.pais">
        </div>
        <div class="form-group col-12">
            <label for="nota">Nota:</label>
            <textarea class="form-control" name="nota" [(ngModel)]="cliente.nota" cols="30" rows="2"></textarea>
        </div>
                    
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!cliente.name || !cliente.email" > <span *ngIf="!loading">Guardar</span>
            <span *ngIf="loading">Guardando...</span> </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>