<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" width="50px">
                    <a class="btn btn-sm btn-primary" tooltip="Agregar" (click)="openModal(mrecetas)"> <i class="fa fa-plus"></i> </a>
                </th>
                <th>Producto</th>
                <th>Dosis</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" class="text-center" *ngIf="consulta.recetas?.length < 1 && !loading">
                    <span class="badge badge-info">No tiene recetas agregados</span>
                </td>
                <td colspan="3" class="text-center" *ngIf="loading">
                    <span class="badge badge-info">Cargando...</span>
                </td>
            </tr>
            <tr *ngFor="let receta of consulta.recetas">
                <td style="width: 100px;" class="text-center">
                    <a class="btn btn-sm btn-danger" tooltip="Eliminar" (click)="delete(receta)">
                      <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
                <td>{{ receta.nombre_producto }}</td>
                <td>{{ receta.dosis }}</td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #mrecetas>
<form name="frm-proveedor" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <div class="modal-title text-center">
            <h2 class="text-center no-margin">Medicamentos</h2>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="fa-2x">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-12">
                <app-buscador-productos (selectProducto)="selectProducto($event)"></app-buscador-productos>
            </div>
                
            <div class="form-group col-md-6">
                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" class="form-control" [(ngModel)]="receta.cantidad">
            </div>
            <div class="form-group col-md-6">
                <label for="cantidad">Dosis / Indicaciones:</label>
                <input type="text" name="dosis" class="form-control" [(ngModel)]="receta.dosis">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!receta.cantidad || !receta.producto_id"> Agregar </button>
    </div>
</form>
</ng-template>
