<button (click)="openModal(mproducto)" class="btn btn-secondary tcla-F4" tooltip="Lista de Productos">
    <i class="fa fa-list-alt"></i> Producto <small>(F4)</small>
</button>

<ng-template #mproducto>
<form name="producto" autocomplete="off" (ngSubmit)="agregarDetalle()">
  <div class="modal-header text-center">
    <h3 class="modal-title">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="cantidad">Producto:</label>
                <form autocomplete="off" class="buscador">
                    <input type="text" name="producto.nombre" class="form-control" placeholder="Nombre o código" [(ngModel)]="producto.nombre" focus="true" id="example" (blur)="clear()">
                    <ul class="list-group info">
                      <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                      <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && productos?.data?.length == 0"> Ningun registro encontrado </a>
                    </ul>
                    <ul class="list-group opciones" *ngIf="productos?.total > 0">
                      <a href="javascript:void(0);" class="list-group-item" (click)="selectProducto(producto)" *ngFor=" let producto of productos?.data">
                        {{producto.nombre}} <small class="float-end"> {{producto.nombre_tipo}} </small>
                      </a>
                    </ul>
                </form>
            </div>
            <div class="form-group col-md-3">
                <label for="cantidad">Cantidad:</label>
                <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalle.cantidad" (change)="calcularByCosto()">
            </div>
            <div class="form-group col-md-3">
                <label for="costo">Costo:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.costo" name="costo" (change)="calcularByCosto()">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="descuento">Descuento:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.descuento" name="descuento" (change)="calcularByCosto()">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="iva">IVA:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.iva" name="iva">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="subtotal">Sub Total</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.subtotal" name="subtotal" (change)="calcularBySubtotal()">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="total">Total</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.total" name="total" (change)="calcularByTotal()">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="precio">Precio:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.precio" name="precio">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="precio_nuevo">Nuevo Precio:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalle.precio_nuevo" name="precio_nuevo">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="inventario_id">* Inventarios:</label>
                <select [(ngModel)]="detalle.inventario_id" class="form-control form-select" name="inventario">
                    <option *ngFor="let inventario of detalle.inventarios" [ngValue]="inventario.id">
                        {{ inventario.nombre_bodega }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="tipo">Tipo:</label>
                <select class="form-control form-select" [(ngModel)]="detalle.tipo" name="tipo" (change)="calcularByCosto()">
                    <option value="Exenta">Exenta</option>
                    <option value="Gravada">Gravada</option>
                    <option value="No Sujeta">No Sujeta</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!detalle.producto_id || !detalle.cantidad || !detalle.costo" class="btn btn-primary float-end"> Agregar </button>
    </div>
</form>
</ng-template>