<button class="tcla-F5 d-none" (click)="loadAll()"></button>

<app-cocina-datos [dash]="dash" [loading]="loading" (loadAll)="loadAll()"></app-cocina-datos>

<!-- <div class="row" *ngIf="loading">
    <div class="col-12 text-muted text-center thumbler">
      Cargando...
    </div>
</div> -->

<div class="row" class="text-center" *ngIf="dash?.comandas?.length < 1">
    <div class="col-md-12 px-0">
        <div class="card">
            <div class="card-body">
                <div class="h-100 p-5">
                  <i class="fa fa-clipboard-check fa-3x mb-3 text-muted"></i>
                  <p>No tiene comandas pendiente.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="dash?.comandas?.length > 0">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de ordenes</h4>
                <div class="table-responsive" style="max-height: calc(100vh - 290px); overflow-y: auto;">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr style="cursor: pointer;" (click)="selectComanda(comanda)" *ngFor="let comanda of dash?.comandas | filter:'estado':estado">
                                <td>Orden #{{ comanda.id }}</td>
                                <td>Mesa: {{ comanda.mesa }}</td>
                                <td>
                                    <span class="badge" [ngClass]="{ 
                                            'badge-danger' : comanda.estado == 'Solicitada', 
                                            'badge-warning' : comanda.estado == 'En Proceso', 
                                            'badge-success' : comanda.estado == 'Entregada'} ">
                                        {{ comanda.estado }}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        <span *ngIf="comanda.tipo_servicio == 'En Restaurante'"><i class="fa fa-store-alt"></i></span>
                                        <span *ngIf="comanda.tipo_servicio == 'A Domicilio'"><i class="fa fa-truck"></i></span>
                                        <span *ngIf="comanda.tipo_servicio == 'Para Llevar'"><i class="fa fa-shopping-bag"></i></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card" style="min-height: calc(100vh - 220px);"  *ngIf="comanda.id">
            <div class="card-body">
                <h4 class="float-end"><b>Orden: #</b> {{ comanda.id }}</h4>
                <p><b>Mesa:</b> {{ comanda.mesa }}</p>
                <p><b>Cliente:</b> {{ comanda.nombre_cliente }}</p>

                <div class="table-responsive" style="min-height: 300px;">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Producto</th>
                                <th class="text-center d-none d-md-table-cell">Cantidad</th>
                                <th class="text-center">Estado</th>
                                <th>Nota</th>
                                <th>Tiempo</th>
                                <th class="d-none d-md-table-cell text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="7" class="text-center" *ngIf="comanda.detalles?.length < 1 && !loading">
                                <span class="label label-info">No tiene productos agregados</span>
                            </td>
                            <tr *ngFor="let detalle of comanda.detalles">
                                <!-- <td> {{ detalle.id }} </td> -->
                                <td> {{ detalle.nombre_producto }} </td>
                                <td class="text-center d-none d-md-table-cell">{{ detalle.cantidad }}</td>
                                <td class="text-center">
                                    <span class="badge" [ngClass]="{ 
                                            'badge-danger' : detalle.estado == 'Solicitada', 
                                            'badge-warning' : detalle.estado == 'En Proceso', 
                                            'badge-success' : detalle.estado == 'Entregada' } ">
                                        {{ detalle.estado }}
                                    </span>
                                </td>
                                <td class="text-center">{{ detalle.nota }}</td>
                                <td><app-timer *ngIf="detalle.created_at" [time]="detalle.created_at"></app-timer></td>
                                <td class="text-center d-flex">
                                    <a class="btn btn-warning" (click)="setEstadoDetalle(detalle, 'En Proceso')"> En Proceso </a>
                                    <a class="btn btn-success" (click)="setEstadoDetalle(detalle, 'Entregada')"> Entregada </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-btn-group float-end">
                    <a class="btn btn-warning" (click)="setEstado(comanda, 'En Proceso')">En proceso todo</a>
                    <a class="btn btn-success" (click)="setEstado(comanda, 'Entregada')">Entregado todo</a>
                </div>

            </div>
        </div>
        <div class="card" style="min-height: calc(100vh - 420px);"  *ngIf="!comanda.id">
            <div class="card-body text-center h-100 w-100 d-flex justify-content-center align-items-center">
                <div class="text-muted">
                    <i class="fa fa-receipt fa-3x"></i>
                   <p>Seleccione una comanda para ver su detalle</p>
                </div>
            </div>
        </div>
    </div>

</div>
        


<!-- <div class="row" *ngIf="dash?.comandas">
<div class="col-6 col-md-4 col-lg-3" *ngFor="let comanda of dash?.comandas | filter:'estado':estado">
    <div class="card">
      <div class="card-header p-2" [ngClass]="{ 
            'bg-danger' : comanda.estado == 'Solicitada', 
            'bg-warning' : comanda.estado == 'Iniciada', 
            'bg-primary' : comanda.estado == 'Lista', 
            'bg-light' : comanda.estado == 'Solicitada de Pago', 
            'bg-success' : comanda.estado == 'Pagada', 
            'bg-dark' : comanda.estado == 'Cancelada'}">
        <h5 class="card-title text-white">
            Mesa # {{ comanda.mesa }}
            <small class="float-right">{{ comanda.estado }}</small>
        </h5>
        <p class="mb-0 text-white">{{ comanda.nombre_cliente }}</p>
      </div>
      <div class="card-body">
        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <td>Producto</td>
                    <td class="text-right">Cantidad</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of comanda.detalles">
                    <td>{{ detalle.nombre_producto }}</td>
                    <td class="text-right">{{ detalle.cantidad }}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="card-footer">
        <p class="">Pasar a</p>
        <div class="btn-btn-group">
            <a class="btn btn-default" (click)="setEstado(comanda, 'Solicitada')">Solicitada</a>
            <a class="btn btn-default" (click)="setEstado(comanda, 'Iniciada')">iniciada</a>
            <a class="btn btn-default" (click)="setEstado(comanda, 'Lista')">Lista</a>
        </div>
      </div>
    </div>
</div>
</div> -->


