<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Gastos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/gastos">Gastos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="gastos?.total">
            {{ gastos?.total + ' registros' }}
            <span *ngIf="filtrado">{{ gastos?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <button tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></button>
                <button (click)="openModal(mgasto, {})" tooltip="Crear" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="gastos?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene gastos registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let gasto of gastos?.data">
                        
                        <td>{{gasto.id}}</td>
                        <td>{{gasto.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{gasto.nombre_usuario }}</td>
                        <td>{{gasto.descripcion | truncate:'30'}}</td>
                        <td> {{gasto.categoria}} </td>
                        <td class="text-center">{{gasto.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(gasto.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" (click)="openModal(mgasto, gasto)" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="gastos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="gastos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mgasto>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Gasto</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Fecha:</label>
                <input type='date' class="form-control" name="gasto.fecha" [(ngModel)]="gasto.fecha"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="gasto.categoria">Categoría:</label>
                <input type="text" list="gastos" [(ngModel)]="gasto.categoria" class="form-control" name="gasto.categoria">
                <datalist id="gastos">
                    <option value="Transporte">
                    <option value="Alimentación">
                    <option value="Viaticos">
                    <option value="Agua">
                    <option value="Luz">
                    <option value="Teléfono">
                    <option value="Internet">
                    <option value="Cable">
                    <option value="Material de oficina">
                    <option value="Material de limpieza">
                    <option value="Otros">
                </datalist>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Descripción:</label>
                <textarea name="gasto.descripcion" class="form-control" cols="30" rows="4" [(ngModel)]="gasto.descripcion"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Total:</label>
                <input type='number' class="form-control" name="gasto.total" [(ngModel)]="gasto.total"/>
            </div>

            <div class="form-group col-sm-12 mt-5">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-select" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.categoria">Categoría:</label>
                <input type="text" list="gastos" [(ngModel)]="filtro.categoria" class="form-control" name="filtro.categoria">
                <datalist id="gastos">
                    <option value="Todas">
                    <option value="Transporte">
                    <option value="Alimentación">
                    <option value="Viaticos">
                    <option value="Agua">
                    <option value="Luz">
                    <option value="Teléfono">
                    <option value="Internet">
                    <option value="Cable">
                    <option value="Material de oficina">
                    <option value="Material de limpieza">
                    <option value="Otros">
                </datalist>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
