<a  *ngIf="!comision?.id"  class="btn btn-primary"  (click)="openModal(mcomision)" tooltip="Agregar comisión">
    <i class="fa fa-plus"></i>
</a>
<a  *ngIf="comision?.id"  class="btn btn-default"  (click)="openModal(mcomision)" tooltip="Agregar comisión">
    <i class="fa fa-pencil-alt"></i>
</a>

<ng-template #mcomision>
  <div class="modal-header">
    <h3 class="modal-title text-center">Comisión</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row text-center">
            <div class="form-group col-md-12">
                <label for="empleado">Empleado:</label>
                <select [(ngModel)]="comision.empleado_id" class="form-select" name="comision.empleado_id">
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="concepto">Concepto:</label>
                <input type="text" class="form-control" [(ngModel)]="comision.concepto" name="concepto" placeholder="Concepto">
            </div>
            <div class="form-group col-md-6">
                <label for="tipo">Tipo:</label>
                <select class="form-select" [(ngModel)]="comision.tipo" name="tipo">
                    <option value="Venta">Venta</option>
                    <option value="Bono">Bono</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="estado">Estado:</label>
                <select class="form-select" [(ngModel)]="comision.estado" name="estado">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Aprobada">Aprobada</option>
                    <option value="Pagada">Pagada</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="total">Total:</label>
                <input type="number" class="form-control" [(ngModel)]="comision.total" name="total">
            </div>
            <div class="form-group col-md-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="comision.nota" name="nota" placeholder="Nota">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>