<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="sucursal?.mesas?.length">{{ sucursal?.mesas?.length + ' registros' }}</span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" placeholder="Buscar" focus="true" class="form-control" [(ngModel)]="buscador">
            <div class="input-group-btn">
                <button (click)="openModal(mmesa, {})" tooltip="Crear" class="btn btn-primary tcla-F7"><i class="fa fa-plus"></i></button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Ubicación</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Personas</th>
                        <th>Nota</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="sucursal?.mesas?.length < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene mesas registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let mesa of sucursal?.mesas | filter:['numero', 'ubicacion']:buscador">
                        <td>{{ mesa.numero }}</td>
                        <td>{{ mesa.ubicacion }}</td>
                        <td class="text-center">
                            <span class="badge" [ngClass]="{ 'badge-info' : mesa.estado == 'Reservada', 'badge-success' : mesa.estado == 'Libre', 'badge-danger' : mesa.estado == 'Ocupada' }">{{ mesa.estado }}</span>
                        </td>
                        <td class="text-center">{{ mesa.personas }}</td>
                        <td>{{ mesa.nota | truncate:30 }}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(mesa.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a tooltip="Editar" class="btn btn-default" (click)="openModal(mmesa, mesa)" >
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #mmesa>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Mesa #{{mesa.numero}}</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Número:</label>
                <input type='number' class="form-control" name="mesa.numero" [(ngModel)]="mesa.numero" focus="true"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="mesa.estado">Estado:</label>
                <select [(ngModel)]="mesa.estado" class="form-control form-select" name="mesa.estado">
                    <option value="Libre">Libre</option>
                    <option value="Reservada">Reservada</option>
                    <option value="Ocupada">Ocupada</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Ubicación:</label>
                <input type='text' class="form-control" name="mesa.ubicacion" [(ngModel)]="mesa.ubicacion"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Cantidad de personas:</label>
                <input type='number' class="form-control" name="mesa.personas" [(ngModel)]="mesa.personas"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Nota:</label>
                <textarea name="nota" class="form-control" [(ngModel)]="mesa.nota" cols="30" rows="3"></textarea>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
