<!-- <div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Bodegas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/admin/bodegas">Bodegas</a></li>
        </ol>
    </div>
</div> -->

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="!sucursal">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row" *ngIf="sucursal">   
            <div class="col-md-4" *ngFor="let bodega of sucursal.bodegas">
                
                <div class="card">
                  <div class="card-body">
                    <div class="card-heading">
                        <h3> {{ bodega.nombre }} <br> <small>{{ bodega.nombre_sucursal }}</small></h3>
                    </div>
                    <div class="card-footer">
                        <a  (click)="delete(bodega.id)" class="btn btn-default" tooltip="Eliminar">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a (click)="openModal(mbodega, bodega)" class="btn btn-default" tooltip="Editar">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        <a target="_blank" href="{{ this.apiService.baseUrl + '/api/reporte/bodegas/' + bodega.id + '/[]?token=' + this.apiService.auth_token()}}" class="btn btn-default" tooltip="Imprimir inventario">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>
                  </div>
                </div>

            </div>

            <div class="col-md-4">
                
                <div class="card text-center">
                  <div class="card-body">
                        <a style="display: block; padding: 43px 0px;" href="javascript::void(0)" (click)="openModal(mbodega, {})">
                            <i class="fa fa-inbox"></i> <br>
                            Nueva bodega
                        </a>
                  </div>
                </div>

            </div>

        </div>
    </div>
</div>

<ng-template #mbodega>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Bodega</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nombre">* Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="bodega.nombre" name="nombre" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="descripcion">Descripción:</label><br>
                <input type="text" class="form-control" [(ngModel)]="bodega.descripcion" name="descripcion">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !bodega.nombre">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>