<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Plan de pagos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/creditos">Plan de pagos</a></li>
        </ol>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <h4 class="text-center py-3 border-bottom">Plan de amortización</h4>
            <div class="card-body">
                <form autocomplete="off" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="fecha">Fecha:</label>
                        <input type="date" name="fecha" [(ngModel)]="credito.fecha" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="total">Monto:</label>
                        <input type="number" name="total" [(ngModel)]="credito.total" class="form-control" focus="true">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Interés:</label>
                        <span class="input-group">
                            <input type="number" name="interes" [(ngModel)]="credito.interes" class="form-control">
                            <span class="input-group-text">%</span>
                        </span>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Plazo:</label>
                        <span class="input-group">
                            <input type="number" name="plazo" [(ngModel)]="credito.plazo" class="form-control">
                            <span class="input-group-text">Meses</span>
                        </span>
                    </div>
                    <!-- <div class="form-group col-4">
                        <label>Prima:</label>
                        <input type="text" name="prima" [(ngModel)]="credito.prima" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Nota:</label>
                        <textarea name="nota" [(ngModel)]="credito.nota" class="form-control" rows="2"></textarea>
                    </div> -->
                </div>
                <div class="row text-center mt-3">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                            <span *ngIf="!loading">Generar</span>
                            <span *ngIf="loading">Generando...</span>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
