<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">
            Pagos
            <button (click)="openModal(mPago, {})" class="btn btn-primary float-end tcla-F7" tooltip="Agregar pago">
                <i class="fa fa-plus"></i>
            </button>
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Fecha</th>
                        <th>Metodo de pago</th>
                        <th class="text-center">Saldo inicial</th>
                        <th class="text-center">Pago</th>
                        <th class="text-center">Abono</th>
                        <th class="text-center">Interes</th>
                        <th class="text-center">Saldo Final</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="9" class="text-center" *ngIf="credito.pagos?.length < 1 && !loading">
                            <span class="text-muted">No tiene pagos agregados</span>
                        </td>
                        <td colspan="9" class="text-center" *ngIf="loading">
                            <span class="text-muted">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let pago of credito.pagos; let i=index;">
                        <td> {{ i + 1}} </td>
                        <td> {{ pago.fecha | date:'d/MM/y' }} </td>
                        <td> {{ pago.metodo_pago }} </td>
                        <td class="text-center">{{ pago.saldo_inicial | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.cuota | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.abono | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.interes | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.saldo_final | currency:'USD':'symbol':'1.2' }}</td>
                        <td style="width: 100px;" class="text-center">
                            <a class="btn btn-sm btn-default" tooltip="Eliminar" (click)="eliminarDetalle(pago)">
                              <i class="fa fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-default" tooltip="Editar" (click)="openModal(mPago, pago)">
                              <i class="fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right"><b>Totales:</b></td>
                        <td class="text-center"><b>{{ credito.saldo | currency:'USD':'symbol':'1.2' }}</b></td>
                        <td class="text-center"><b>{{ credito.total_pagos | currency:'USD':'symbol':'1.2' }}</b></td>
                        <td class="text-center"><b>{{ credito.total_abonos | currency:'USD':'symbol':'1.2' }}</b></td>
                        <td class="text-center"><b>{{ credito.total_intereses | currency:'USD':'symbol':'1.2' }}</b></td>
                        <td class="text-center"><b>{{ credito.total_pagos | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<ng-template #mPago>
  <div class="modal-header">
    <h3 class="col modal-title text-center">Pago <br><small>Cliente: {{ credito.nombre_cliente }}</small></h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" [(ngModel)]="pago.fecha" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="metodo_pago">Metodo de pago:</label>
            <select name="metodo_pago" [(ngModel)]="pago.metodo_pago" class="form-select">
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Transferencia">Transferencia</option>
                <option value="Chivo Wallet">Chivo Wallet</option>
            </select>
        </div>
        <div class="form-group col-12">
            <label for="cuota">Pago:</label>
            <input type="number" name="cuota" [(ngModel)]="pago.cuota" class="form-control" focus="true" (change)="onCalcular()">
        </div>
        <!-- <div class="form-group col-6">
            <label>Descuento:</label>
            <input type="text" name="descuento" [(ngModel)]="pago.descuento" class="form-control">
        </div> -->
        <div class="form-group col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Saldo inicial</th>
                        <th>Cuota</th>
                        <th>Interes</th>
                        <th>Capital</th>
                        <th>Saldo final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{pago.saldo_inicial | currency:'USD':'symbol':'1.2'}}</td>
                        <td>{{pago.cuota | currency:'USD':'symbol':'1.2' }}</td>
                        <td>{{pago.interes | currency:'USD':'symbol':'1.2' }}</td>
                        <td>{{pago.abono | currency:'USD':'symbol':'1.2'}}</td>
                        <td>{{pago.saldo_final | currency:'USD':'symbol':'1.2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>
