<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-5 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Consulta <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-7 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/consultas">Consultas</a></li>
            <li class="breadcrumb-item"><a>Consulta</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="form-group col-6 col-lg-3">
                <label for="fecha">Fecha:</label>
                <input type="datetime-local" name="fecha" [(ngModel)]="consulta.fecha" class="form-control">
            </div>

            <div class="form-group col-6 col-lg-2">
                <label>Tipo:</label>
                <select name="tipo" class="form-control form-select" [(ngModel)]="consulta.tipo">
                    <option value="En Clínica">En Clínica</option>
                    <option value="Por Teléfono">Por Teléfono</option>
                    <option value="A Domicilio">A Domicilio</option>
                    <option value="Video Consulta">Video Consulta</option>
                </select>
            </div>

            <div class="form-group col-6 col-lg-2">
                <label>Estado:</label>
                <select name="estado" class="form-control form-select" [(ngModel)]="consulta.estado">
                    <option value="En Espera">En Espera</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Cancelada">Cancelada</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <app-consulta-paciente [paciente]="consulta.paciente" (pacienteSelect)="pacienteSelect($event)"></app-consulta-paciente>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-12">
                <label for="motivo">Motivo/Asunto:</label>
                <input type="text" name="motivo" [(ngModel)]="consulta.motivo" class="form-control">
            </div>
        </div>
        <div class="row" *ngIf="consulta.id">
            <app-consulta-signos [consulta]="consulta" (update)="updateOrden($event)"></app-consulta-signos>
        </div>
        <div class="row" *ngIf="consulta.id">
            <h5 class="text-center my-4">Detalles de la consulta: </h5>

            <div class="form-group col-12">
                <label for="consulta">Detalle:</label>
                <textarea name="consulta" [(ngModel)]="consulta.consulta" class="form-control" rows="2"></textarea>
            </div>

        </div>
        <div class="row" *ngIf="consulta.id">
            <h5 class="text-center my-4">Diagnostico: </h5>
            <div class="col-6">
                <app-consulta-diagnosticos [consulta]="consulta" (update)="updateOrden($event)"></app-consulta-diagnosticos>
            </div>
            <div class="col-6">
                <textarea name="diagnostico" [(ngModel)]="consulta.diagnostico" class="form-control" rows="6"></textarea>
            </div>
        </div>

        <div class="row" *ngIf="consulta.id">
            <h5 class="text-center my-4">Receta: <a *ngIf="consulta?.diagnosticos?.length > 0" target="_blank" (click)="imprimirReceta()" class="btn btn-default float-end" tooltip="Imprimir receta"><i class="fa fa-print"></i></a></h5>
            <div class="col-6">
                <app-consulta-recetas [consulta]="consulta" (update)="updateOrden($event)"></app-consulta-recetas>
            </div>
            <div class="col-6">
                <textarea name="receta" [(ngModel)]="consulta.receta" class="form-control" rows="6"></textarea>
            </div>
        </div>

        <div class="row" *ngIf="consulta.id">
            <h5 class="text-center my-4">Exámenes: <a *ngIf="consulta?.examenes?.length > 0" target="_blank" (click)="imprimirExamenes()" class="btn btn-default float-end" tooltip="Imprimir exámenes"><i class="fa fa-print"></i></a></h5>
            <div class="col-6">
                <app-consulta-examenes [consulta]="consulta" (update)="updateOrden($event)"></app-consulta-examenes>
            </div>
            <div class="col-6">
                <textarea name="examen" [(ngModel)]="consulta.examen" class="form-control" rows="6"></textarea>
            </div>
        </div>

        <div class="row" *ngIf="consulta.id">
            <h5 class="text-center my-4">Documentos: </h5>
            <div class="col-6">
                <!-- <app-consulta-examenes [consulta]="consulta" (update)="updateOrden($event)"></app-consulta-examenes> -->
            </div>
        </div>


    </div>
    <div class="card-footer">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary tcla-F9 float-end">
            <span *ngIf="!loading">
                Guardar 
                <small>(F9)</small></span>
            <span *ngIf="loading">
                Guardar...
            </span>
        </button>
    </div>
</div>
