<div class="input-group">
    <label for="" class="ml-5 mr-3 pt-2">Cliente:</label>
    <input id="cliente" type="text" class="form-control" [(ngModel)]="cliente.nombre" name="cliente" placeholder="Nombre" (focus)="openModal(mcliente)">
    <button (click)="openModal(mcliente)" class="btn btn-default tcla-F6" tooltip="Crear">
        <i class="fa fa-search"></i> <small> (F6)</small>
    </button>
</div>
<ng-template #mcliente>
  <div class="modal-header text-center">
    <h3 class="modal-title">Cliente</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="selectCliente(cliente)">
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="cantidad">* Nombre:</label>
            <form autocomplete="off" class="buscador">
                <input id="cliente" type="text" name="cliente.nombre" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="cliente.nombre" focus="true" id="example">
                <ul class="list-group info">
                  <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                  <a href="javascript:void(0);" class="list-group-item text-warning" (click)="clear()" *ngIf="!searching && clientes?.data?.length == 0"> No existe, agregar como nuevo </a>
                </ul>
                <ul class="list-group opciones" *ngIf="clientes?.total > 0">
                  <a href="javascript:void(0);" class="list-group-item" (click)="selectCliente(cliente)" *ngFor=" let cliente of clientes?.data">
                    {{cliente.nombre}} <span *ngIf="cliente.registro">- {{cliente.registro}}</span>
                  </a>
                </ul>
            </form>
        </div>

        <div class="form-group col-sm-6">
            <label for="registro">Registro:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.registro" name="registro" placeholder="xxxx-x" >  
        </div>
        <div class="form-group col-sm-6">
            <label for="giro">Giro:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
        </div>
        <div class="form-group col-sm-6">
            <label for="nit">DUI:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
        </div>
        <div class="form-group col-sm-6">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" [dropSpecialCharacters]="false" name="telefono" mask='0000-0000' placeholder="0000-0000">
        </div>
        <div class="form-group col-sm-6">
            <label for="municipio">Municipio:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
        </div>
        <div class="form-group col-sm-6">
            <label for="departamento">Departamento:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
        </div>
        <div class="form-group col-sm-12">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Dirección">
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!cliente.registro || !cliente.nombre" > Agregar </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>