<button class="tcla-F5 d-none" (click)="loadAll()"></button>
<app-mesero-datos [dash]="dash" [loading]="loading" (loadAll)="loadAll()"></app-mesero-datos>
<app-mesas-dash [dash]="dash" [loading]="loading" (loadAll)="loadAll()"></app-mesas-dash>
