<h5 class="text-center my-4">Signos vitales: </h5>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th class="text-center">Peso</th>
                <th class="text-center">Estatura</th>
                <th class="text-center">Temperatura</th>
                <th class="text-center">Presión</th>
                <th>Nota</th>
                <th class="text-center">
                    <a class="btn btn-sm btn-primary" (click)="openModal(msigno, {})"> <i class="fa fa-plus"></i> </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8" class="text-center" *ngIf="consulta.signos?.length < 1 && !loading">
                    <span class="badge badge-info">No tiene signos vitales agregados</span>
                </td>
                <td colspan="8" class="text-center" *ngIf="loading">
                    <span class="badge badge-info">Cargando...</span>
                </td>
            </tr>
            <tr *ngFor="let signo of consulta.signos">
                <!-- <td><img src="{{ apiService.baseUrl + '/img/' + signo.img }}" width="50px"></td> -->
                <td>{{ signo.fecha  | date:'dd/MM/yyyy' }}</td>
                <td>{{ signo.fecha  | date:'hh:mm:ss a' }}</td>
                <td class="text-center">{{ signo.peso }} {{ signo.peso_unidad }}</td>
                <td class="text-center">{{ signo.estatura }} {{ signo.estatura_unidad }}</td>
                <td class="text-center">{{ signo.temperatura }}°C {{ signo.temperatura_unidad }}</td>
                <td class="text-center">{{ signo.presion }}</td>
                <td>{{ signo.nota }}</td>
                <td style="width: 100px;" class="text-center">
                    <a class="btn btn-sm btn-danger" (click)="eliminarDetalle(signo)">
                      <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-default" (click)="openModal(msigno, signo)">
                      <i class="fa fa-pencil-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #msigno>
  <div class="modal-header">
    <h3 class="modal-title text-center">Medición de signos vitales</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <form autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
        <div class="form-group col-md-12">
            <label for="fecha">Fecha:</label>
            <input type="datetime-local" name="fecha" [(ngModel)]="signo.fecha" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="estatura">Estatura:</label>
            <div class="input-group">
                <input type="number" [(ngModel)]="signo.estatura" name="estatura" class="form-control col-8" focus="true">
                <select name="estatura_unidad" [(ngModel)]="signo.estatura_unidad" class="form-select col-4">
                    <option value="Cm">Cm</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="peso">Peso:</label>
            <div class="input-group">
                <input type="number" [(ngModel)]="signo.peso" name="peso" class="form-control col-8">
                <select name="peso_unidad" [(ngModel)]="signo.peso_unidad" class="form-select col-4">
                    <option value="Lb">Lb</option>
                    <option value="Kg">Kg</option>
                    <option value="Gr">Gr</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="temperatura">Temperatura:</label>
            <div class="input-group">
                <input type="number" [(ngModel)]="signo.temperatura" name="temperatura" class="form-control col-8">
                <select name="temperatura_unidad" [(ngModel)]="signo.temperatura_unidad" class="form-select col-4">
                    <option value="Oral">Oral</option>
                    <option value="Axilar">Axilar</option>
                    <option value="Rectal">Rectal</option>
                    <option value="Frontal">Frontal</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="presion">Presión:</label>
            <input type="text" [(ngModel)]="signo.presion" name="presion" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label for="nota">Nota:</label>
            <input type="text" [(ngModel)]="signo.nota" name="nota" class="form-control">
        </div>
        <div class="col-md-12 mt-5">
            <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
  </div>
    </form>
</ng-template>
