<div class="row mb-5">
    <section class="card">
        <div class="card-body">
            <h4>Contrato</h4>
            <form name="form" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="fecha">* Fecha de inicio:</label>
                            <input type="date" class="form-control" [(ngModel)]="empleado?.contrato.fecha" name="fecha" placeholder="Fecha">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="sueldo">* Sueldo:</label>
                            <input type="number" class="form-control" [(ngModel)]="empleado?.contrato.sueldo" name="sueldo" placeholder="Sueldo">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dias">Dias de trabajo:</label>
                            <input type="number" class="form-control" [(ngModel)]="empleado?.contrato.dias" name="dias" placeholder="Dias">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="horas">Horas laborales diarias:</label>
                            <input type="number" class="form-control" [(ngModel)]="empleado?.contrato.horas" name="horas" placeholder="Horas">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Descontar Renta </label>
                            <input type="checkbox" class="form-check" [(ngModel)]="empleado?.contrato.renta" name="renta">
                        </div>

                        <div class="form-group col-md-2">
                            <label>Descontar ISSS </label>
                            <input type="checkbox" class="form-check" [(ngModel)]="empleado?.contrato.isss" name="isss">
                        </div>

                        <div class="form-group col-md-2">
                            <label>Descontar AFP </label>
                            <input type="checkbox" class="form-check" [(ngModel)]="empleado?.contrato.afp" name="afp">
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
                        <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
