<div class="card">
    <div class="card-body">
        <div class="row" *ngIf="sucursal">   
            <div class="col-md-4" *ngFor="let departamento of sucursal?.departamentos">
                
                <div class="card">
                  <div class="card-body">
                    <div class="card-heading">
                        <h3> {{ departamento.nombre }} <br> <small>{{ departamento.nombre_sucursal }}</small></h3>
                    </div>
                    <div class="card-footer">
                        <a tooltip="Eliminar" class="btn btn-default" (click)="delete(departamento.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a tooltip="Editar" class="btn btn-default" (click)="openModal(mdepartamento, departamento)" >
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        <a tooltip="Categorias" class="btn btn-default" (click)="openModalDetalle(mdetalle, departamento)" >
                            <i class="fa fa-list-alt"></i>
                        </a>
                    </div>
                  </div>
                </div>

            </div>

            <div class="col-md-4">
                
                <div class="card text-center">
                  <div class="card-body">
                        <a style="display: block; padding: 43px 0px;" href="javascript::void(0)" (click)="openModal(mdepartamento, {})">
                            <i class="fa fa-network-wired"></i> <br>
                            Nuevo departamento
                        </a>
                  </div>
                </div>

            </div>

        </div>

    </div>
</div>


<ng-template #mdepartamento>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Departamento</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="nombre">Nombre:</label>
                <input type='text' class="form-control" name="departamento.nombre" [(ngModel)]="departamento.nombre" focus="true"/>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mdetalle>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Categorias</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-sm-6" *ngFor="let categoria of categorias | sort:'nombre_categoria'">
            <label class="form-check w-100">
              <input class="form-check-input" #categoriaValue name="categoria" [disabled]="loading" type="checkbox" [(ngModel)]="categoria.checked" (ngModelChange)="checked(categoria)">
              {{ categoria.nombre_categoria}} &rsaquo; {{ categoria.nombre}}
            </label>
        </div>
    </div>
  </div>
</ng-template>
