<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Devoluciones ventas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Devoluciones ventas</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start pl-3" *ngIf="ventas?.length">
            {{ ventas?.length + ' registros' }}
            <span *ngIf="filtrado">{{ ventas | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>
    </div>
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Usuario</th>
                        <th class="text-center">Tipo</th>
                        <th>Nota</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="ventas?.length < 1 && !loading">
                            <span class="badge badge-info">No tiene devoluciones registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let venta of ventas">
                        
                        <td>{{venta.id}}</td>
                        <td>
                            <span [tooltip]="popFecha"> {{ venta.fecha  | date:'dd/MM/yyyy' }} </span>
                            <ng-template #popFecha> <p>{{ venta.created_at  | date:'hh:mm:s a' }}</p> </ng-template>
                        </td>
                        <td>{{venta.nombre_cliente | truncate:'30'}}</td>
                        <td>{{venta.nombre_usuario | truncate:30}}</td>
                        <td class="text-center"> {{venta.tipo }} </td>
                        <td>{{venta.nota}}</td>
                        <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a *ngIf="apiService.auth_user().tipo == 'Cajero'" class="btn btn-default" (click)="reemprimir(venta)" tooltip="Reemprimir">
                                    <i class="fa fa-print"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/devolucion/venta/{{venta.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
