<div id="login-box vh-100" style="height: 100vh;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="form-input-content text-center">
                    <div class="card">
                        <div class="card-header py-3 text-center w-100">
                            <div style="font-size: 35px; color: #6c757d;"><img src="assets/img/logo.png" width="60px" alt="Logo Wgas - Websis"> W<b>clinic</b></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                           <div class="col-xs-12">
                                <h2 class="text-center no-margin">{{ saludo }}</h2>
                                <p class="login-box-msg text-info">Bienvenido</p>
                                <form name="form" autocomplete="off" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
                                    <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                        <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="Usuario" required focus="true"/>
                                        <!-- <span class="fa fa-envelope form-control-feedback"></span> -->
                                    </div>
                                    <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Contraseña" #password="ngModel" required />
                                        <!-- <span class="fa fa-lock form-control-feedback"></span> -->
                                    </div>
                                    <div class="d-grid gap-1 mt-5">
                                        <button type="submit" [disabled]="loading" class="btn btn-primary d-block">
                                            <span *ngIf="!loading">Entrar</span>
                                            <span *ngIf="loading">Verificando...</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer text-center border-0">
                            <a routerLink="/asistencia" class="btn btn-link">Marcar asistencia <i class="fa fa-angle-right"></i></a>
                            <p class="my-3"><a href="https://websis.me" target="_blank">Websis</a> &copy; {{ anio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
