<div class="text-center">
    <form name="form" class="form-inline mr-top">
        <div class="form-group">
            <label for="" style="margin-left: 10px;">Proveedor:</label>
            <input type="text" class="form-control tcla-F6" [(ngModel)]="proveedor.nombre" name="proveedor" placeholder="Nombre" (focus)="openModal(mproveedor)">
            <input type="search" class="form-control" [(ngModel)]="proveedor.registro" name="registro" placeholder="N° Registro" (focus)="openModal(mproveedor)">
            <button (click)="openModal(mproveedor)" class="btn btn-default tcla-F6" tooltip="Crear">
                <i class="fa fa-search"></i> <small>(F6)</small>
            </button>
        </div>
    </form>
</div>

<ng-template #mproveedor>
  <div class="modal-header text-center">
    <h3 class="modal-title">Proveedor</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="frm-proveedor" autocomplete="off" (ngSubmit)="selectProveedor(proveedor)">
    
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="cantidad">* Nombre:</label>
            <form autocomplete="off" class="buscador">
                <input id="proveedor" type="text" name="proveedor.nombre" class="form-control" placeholder="Nombre" [(ngModel)]="proveedor.nombre" focus="true" id="example" (blur)="clear()">
                <ul class="list-group info">
                  <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                  <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && proveedores?.data?.length == 0"> Ningun registro encontrado </a>
                </ul>
                <ul class="list-group opciones" *ngIf="proveedores?.total > 0">
                  <a href="javascript:void(0);" class="list-group-item" (click)="selectProveedor(proveedor)" *ngFor=" let proveedor of proveedores?.data">
                    {{proveedor.nombre}} - <small>{{proveedor.registro}}</small>
                  </a>
                </ul>
            </form>
        </div>

        <div class="form-group col-sm-4">
            <label for="registro">* NRC:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.registro" name="registro" placeholder="xxxx-x"> 
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label for="nit">NIT:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxxx-xxxxxx-xxx-x">
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label for="nit">DUI:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label for="giro">Giro:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.giro" name="giro" placeholder="Giro">
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.telefono" name="telefono" [dropSpecialCharacters]="false" mask='0000-0000' placeholder="0000-0000">
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label for="municipio">Municipio:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.municipio" name="municipio" placeholder="Municipio">
        </div>
        <div class="form-group col-xs-6 col-sm-4">
            <label for="departamento">Departamento:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.departamento" name="departamento" placeholder="Departamento">
        </div>
        <div class="form-group col-sm-8">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.direccion" name="direccion" placeholder="Dirección">
        </div>
    </div>
    <div class="row text-center mr-top">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!proveedor.registro || !proveedor.nombre"> Agregar </button>
        </div>
        <br><br>
    </div>

    </form>
    </div>
</ng-template>