<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Empleado <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/empleados">Empleados</a></li>
            <li class="breadcrumb-item active"><a>Empleado</a></li>
        </ol>
    </div>
</div>

<div class="row mb-5">
    <section class="card">
        <div class="card-body">
            <h4>Información</h4>
            <form name="form" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="nombre">* Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="empleado.name" name="nombre" placeholder="Nombre" focus="true">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="email">* Correo:</label>
                            <input type="email" class="form-control" [(ngModel)]="empleado.email" name="email" placeholder="Correo">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" class="form-control" [(ngModel)]="empleado.telefono" name="telefono" placeholder="0000-0000">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control" [(ngModel)]="empleado.direccion" name="direccion" placeholder="Calle, municipio, etc.">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dui">DUI:</label>
                            <input type="text" class="form-control" [(ngModel)]="empleado.dui" name="dui" placeholder="0000000-0">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Activo </label>
                            <input type="checkbox" class="form-check" [(ngModel)]="empleado.activo" name="activo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nota">* Nota:</label>
                            <input type="text" class="form-control" [(ngModel)]="empleado.nota" name="nota" placeholder="Una nota">
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
                        <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </form>
        </div>
    </section>

</div>

<app-empleado-contrato [empleado]="empleado"></app-empleado-contrato>
