
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"> <a class="nav-link" routerLink="/facturacion"> Facturación </a> </li>
    <li class="nav-item"> <a class="nav-link" routerLink="/dash/caja/ventas"> Ventas </a> </li>
    <li class="nav-item"> <a class="nav-link" routerLink="/dash/caja/devoluciones/ventas"> Devoluciones </a> </li>
    <li class="nav-item dropdown me-3" *ngIf="usuario.caja_chica_id">
        <a class="nav-link" routerLink="/caja-chica/{{ usuario.caja_chica_id }}" >Caja chica</a>
    </li>
</ul>
