<button (click)="openModal(inventario)" class="btn btn-default tcla-F1" tooltip="Productos (F1)"> Productos <i class="fa fa-list-alt"></i> </button>


<ng-template #inventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">Productos</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off">
        <div class="row">
            <form autocomplete="off">
            <div class="col-md-12">
                <input id="producto" type="text" name="buscador" class="form-control" placeholder="Buscar por nombre o código" [(ngModel)]="buscador" focus="true" id="example">
            </div>
            
            <div class="col-md-12 mr-top" style="max-height: 350px; min-height: 350px; overflow-y: auto;">
                <div *ngIf="productos?.total < 1 && !loading" href="javascript:void(0);" class="list-group-item text-center min-height">
                    <br><br>
                    <br><br>
                    <i class="fa fa-cubes fa-5x text-muted"></i>
                    <br>
                    <span class="text-muted">Busque productos por su nombre o codigo</span>
                    <br><br>
                    <br><br>
                  </div>
                <div *ngIf="productos?.total < 1 && loading" href="javascript:void(0);" class="list-group-item text-center">
                  <span class="label label-info">Cargando...</span>
                </div>
                <ul class="list-group" *ngIf="productos?.total > 0">
                  <a href="javascript:void(0);" (click)="agregarDetalle(producto)" class="list-group-item list-group-item-action" *ngFor=" let producto of productos.data">
                    <b style="margin-right: 15px;">{{producto.nombre}}</b> 
                    <span class="float-end" *ngIf="producto.promocion">
                        <span class="text-muted" style="text-decoration: line-through;">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                        {{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}
                    </span>
                    <span class="float-end" *ngIf="!producto.promocion">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <small class="text-muted">{{producto.nombre_categoria}}</small>
                  </a>
                </ul>
            </div>
            </form>
        </div>
    </form>
  </div>
</ng-template>