<div class="row">
    <div class="col-md-4">
        <div class="card performence_score">
            <div class="card-body">
                <h4 class="card-title">Comandas por mesero</h4>
                <div id="activity" *ngIf="dash?.meseros[0]?.comandas > 0">
                    <div class="media border-bottom pt-3 pb-3" *ngFor="let mesero of dash?.meseros">
                        <img src="assets/img/usuarios/{{ mesero.avatar }}" alt="avatar" class="mr-3" width="50px;">
                        <div class="media-body">
                            <h5 class="mt-1">{{ mesero.name }}</h5>
                            <p class="mb-0">{{ mesero.tipo }}</p>
                        </div>
                        <span class="text-dark"><b>{{ mesero.comandas }}</b> ({{ dash?.meseros | sum:'comandas' }})</span>
                    </div>
                </div>
                <div id="activity" *ngIf="!dash?.meseros?.lenght && dash?.meseros[0]?.comandas == 0">
                    <div class="text-muted text-center py-5">
                        <i class="fa fa-chart-area fa-5x"></i>
                        <br>
                        Aún no hay datos
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Comandas por ticket</h4>
                <div id="row" *ngIf="dash?.ticket_mayor > 0">
                    <div class="col-12 border-bottom pt-3 pb-3 d-flex justify-content-between align-items-center">
                        Ticket más alto:  <span class="badge badge-success">{{ dash?.ticket_mayor  | currency:'USD':'symbol':'1.2'}}</span>
                    </div>
                    <div class="col-12 border-bottom pt-3 pb-3 d-flex justify-content-between align-items-center">
                        Ticket más bajo:  <span class="badge badge-danger">{{ dash?.ticket_menor  | currency:'USD':'symbol':'1.2'}}</span>
                    </div>
                    <div class="col-12 border-bottom pt-3 pb-3 d-flex justify-content-between align-items-center">
                        Promedio de ticket:  <span class="badge badge-secondary">{{ dash?.promedio_ticket  | currency:'USD':'symbol':'1.2'}}</span>
                    </div>
                    <div class="col-12 border-bottom pt-3 pb-3 d-flex justify-content-between align-items-center">
                        Promedio de personas por mesa:  <span class="badge badge-warning">{{ dash?.promedio_personas  | number:'1.0'}}</span>
                    </div>
                    <div class="col-12 border-bottom pt-3 pb-3 d-flex justify-content-between align-items-center">
                        Total de personas:  <span class="badge badge-success">{{ dash?.total_personas  | number:'1.0'}}</span>
                    </div>
                    <div class="col-12 border-bottom pt-3 pb-3 d-flex justify-content-between align-items-center">
                        Promedio por personas:  <span class="badge badge-primary">{{ dash?.ticket_personas  | currency:'USD':'symbol':'1.2'}}</span>
                    </div>
                </div>
                <div id="row" *ngIf="dash?.ticket_mayor == 0">
                    <div class="text-muted text-center py-5">
                        <i class="fa fa-chart-area fa-5x"></i>
                        <br>
                        Aún no hay datos
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card performence_score">
            <div class="card-body">
                <h4 class="card-title">Comandas por mesas</h4>
                <div id="activity" *ngIf="dash?.mesas?.lenght">
                    <div class="media border-bottom pt-3 pb-3" *ngFor="let mesa of dash?.mesas">
                        <div class="media-body">
                            <h5 class="mt-1">Mesa: {{ mesa.numero }}</h5>
                            <p class="mb-0">{{ mesa.comandas }} comandas</p>
                        </div>
                        <span class="text-dark"><b>{{ mesa.total | currency:'USD':'symbol':'1.2'}}</b></span>
                    </div>
                </div>
                <div id="activity" *ngIf="!dash?.mesas?.lenght">
                    <div class="text-muted text-center py-5">
                        <i class="fa fa-chart-area fa-5x"></i>
                        <br>
                        Aún no hay datos
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>