<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Cliente <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/clientes">Clientes</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cliente</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="!cliente">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row" *ngIf="cliente">   
            <div class="col-12 text-center">
                <h3 class="mb-3">{{ cliente.nombre }}</h3>
            </div>
            <div class="col-md-12">
                <tabset #staticTabs type="pills" [justified]="true">
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-info-circle"></i> Información
                        </ng-template>
                        <app-cliente-informacion></app-cliente-informacion>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-file"></i> Documentos
                        </ng-template>
                        <app-cliente-documentos></app-cliente-documentos>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-file-invoice-dollar"></i> Ventas
                        </ng-template>
                        <app-cliente-ventas></app-cliente-ventas>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-hand-holding-usd"></i> Créditos
                        </ng-template>
                        <app-cliente-creditos></app-cliente-creditos>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>


