<div class="table-responsive" id="detallesList" style="min-height: 300px; max-height: 300px; overflow-y: auto;">
    <table class="table table-borderless mb-0">
        <thead>
            <tr>
                <th class="text-center" width="100px"><i class="fa fa-cog"></i></th>
                <th class="text-center">#</th>
                <th>Producto</th>
                <!-- <th>Nota</th> -->
                <!-- <th class="text-center">Tiempo</th> -->
                <th class="text-center d-none d-md-table-cell" width="100px">Precio</th>
                <th class="text-center" width="100px">Cantidad</th>
                <th width="100" class="text-center" width="100px">Estado</th>
                <th width="100" class="text-center d-none d-md-table-cell" width="100px">Total</th>
            </tr>
        </thead>
        <tbody>
            <td colspan="8" class="text-center" *ngIf="orden?.detalles?.length < 1 && !loadingOrden">
                <span class="text-muted py-2">No tiene productos agregados</span>
            </td>
            <!-- <td colspan="8" class="text-center" *ngIf="loadingOrden">
                <span class="text-muted py-2">Cargando...</span>
            </td> -->
            <tr *ngFor="let detalle of orden.detalles; let i=index">
                <td style="width: 100px;" class="text-center">
                    <a class="btn btn-sm btn-danger" (click)="eliminarDetalle(detalle)">
                      <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-default" (click)="openModalEdit(mcantidad, detalle)">
                      <i class="fa fa-pencil-alt"></i>
                    </a>
                </td>
                <!-- <td><img src="{{ apiService.baseUrl + '/img/' + detalle.img }}" width="50px"></td> -->
                <td class="text-center"> {{ i + 1 }} </td>
                <td> {{ detalle.nombre_producto }} </td>
                <!-- <td>{{ detalle.nota }}</td> -->
                <!-- <td class="text-center">{{ detalle.tiempo }} <span *ngIf="detalle.tiempo != null">min</span></td> -->
                <td class="text-center d-none d-md-table-cell">{{ detalle.precio | currency:'USD':'symbol':'1.2' }}</td>
                <td class="text-center">{{ detalle.cantidad }}</td>
                <td class="text-center">
                    <span class="badge click" tooltip="Cambiar estado" [popover]="popTemplate" [outsideClick]="true" [ngClass]="{ 
                            'badge-default' : detalle.estado == 'Agregada', 
                            'badge-danger' : detalle.estado == 'Solicitada', 
                            'badge-warning' : detalle.estado == 'En Proceso', 
                            'badge-info' : detalle.estado == 'Finalizada', 
                            'badge-success' : detalle.estado == 'Entregada' } ">
                        {{ detalle.estado }}
                    </span>
                    <ng-template #popTemplate>
                        <button class="btn btn-danger" (click)="setEstado(detalle, 'Solicitada')">Solicitada</button>
                        <button class="btn btn-warning" (click)="setEstado(detalle, 'En Proceso')">En Proceso</button>
                        <button class="btn btn-success" (click)="setEstado(detalle, 'Entregada')">Entregada</button>
                    </ng-template>
                </td>
                <td class="text-center d-none d-md-table-cell">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <table class="table table-borderless mb-0">
        <tfoot>
            <tr>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td width="100" class="text-right"><b>Total:</b></td>
                <td width="100" class="text-center"><b>{{ orden?.total | currency:'USD':'symbol':'1.2' }}</b></td>
            </tr>
        </tfoot>
    </table>
</div>


<ng-template #mcantidad>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ detalle.nombre_producto }}</h3>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off" (ngSubmit)="setCantidad()">
            <div class="col-12 form-group">
                <input type="number" [(ngModel)]="detalle2.cantidad" name="cantidad" class="form-control text-center" placeholder="Cantidad" focus="true">
            </div>
            <div class="col-12 form-group">
                <input type="text" [(ngModel)]="detalle2.nota" name="nota" class="form-control text-center" placeholder="Nota">
            </div>
            <div class="col-12 form-group mt-3">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>