<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Cuentas por cobrar <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cuentas por cobrar</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="cobros?.total">{{ cobros?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                <a tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></a>
            </div>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell text-center">Fecha</th>
                        <th>Cliente</th>
                        <th class="text-center">Ref</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Correlativo</th>
                        <th class="text-center">Tipo Documento</th>
                        <th class="text-center">Metodo de pago</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="cobros?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene cobros registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr *ngFor=" let venta of cobros?.data">
                        
                        <td class="d-none d-md-table-cell text-center">{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                        <td><a routerLink="/cliente/{{venta.cliente_id}}">{{venta.nombre_cliente}}</a></td>
                        <td class="text-center">{{venta.nota}}</td>
                        <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Empleado'">
                            <span class="badge" [ngClass]="{'badge-warning' : venta?.estado == 'Pendiente', 'badge-success' : venta?.estado == 'Pagada'}">
                                {{venta.estado}}
                            </span>
                        </td>
                        <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                            <span class="badge badge-pop" [ngClass]="{'badge-warning' : venta?.estado == 'Pendiente', 'badge-success' : venta?.estado == 'Pagada'}" [popover]="popTemplate" [outsideClick]="true">
                                {{venta.estado}}
                            </span>
                            <ng-template #popTemplate>
                                <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Pagada')">Pagada</button>
                                <button class="btn btn-default btn-xs" (click)="setEstado(venta, 'Pendiente')">Pendiente</button>
                            </ng-template>
                        </td>
                        <td class="text-center"> {{venta.correlativo }} </td>
                        <td class="text-center"> {{venta.tipo_documento }} </td>
                        <td class="text-center">{{venta.metodo_pago}}</td>
                        <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(venta.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/venta/{{venta.id}}" tooltip="Ver detalle">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="cobros?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="cobros" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>
