<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Movimientos
            <span class="float-end">
                <button tooltip="Filtrar (F8)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8">
                    <i class="fa fa-filter"></i>
                </button>
                <button (click)="openModal(mDetalle, {tipo:'Entrada'})" class="btn btn-primary tcla-F7" tooltip="Agregar entrada (F7)">
                    <i class="fa fa-plus"></i>
                </button>
                <button (click)="openModal(mDetalle, {tipo:'Salida'})" class="btn btn-danger tcla-F6" tooltip="Agregar salida (F6)">
                    <i class="fa fa-minus"></i>
                </button>
            </span>
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Comprobante</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Entradas</th>
                        <th class="text-center">Salidas</th>
                        <th class="text-center">Saldo</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="9" class="text-center" *ngIf="cajachica.detalles?.length < 1 && !loading">
                            <span class="text-muted">No tiene movimientos registrados</span>
                        </td>
                        <td colspan="9" class="text-center" *ngIf="loading">
                            <span class="text-muted">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let detalle of cajachica.detalles;">
                        <td> {{ detalle.id }} </td>
                        <td> {{ detalle.fecha | date:'d/MM/y' }} </td>
                        <td> {{ detalle.descripcion }} </td>
                        <td> {{ detalle.referencia }} </td>
                        <td class="text-center">
                            <span class="badge" [ngClass]="{'badge-danger' : detalle?.tipo == 'Salida', 'badge-success' : detalle?.tipo == 'Entrada'}">{{ detalle.tipo }}</span>
                        </td>
                        <td class="text-center">{{ detalle.entrada | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ detalle.salida | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ detalle.saldo | currency:'USD':'symbol':'1.2' }}</td>
                        <td style="width: 100px;" class="text-center">
                            <a class="btn btn-sm btn-default" tooltip="Eliminar" (click)="eliminarDetalle(detalle)">
                              <i class="fa fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-default" tooltip="Editar" (click)="openModal(mDetalle, detalle)">
                              <i class="fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #mDetalle>
  <div class="modal-header">
    <h3 class="col modal-title text-center">{{ detalle.tipo }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="">Fecha:</label>
                <input type='date' class="form-control" name="detalle.fecha" [(ngModel)]="detalle.fecha"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Total:</label>
                <input type='number' class="form-control" name="detalle.total" [(ngModel)]="detalle.total" focus="true"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Comprobante:</label>
                <input type='text' class="form-control" name="detalle.referencia" [(ngModel)]="detalle.referencia"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Descripción:</label>
                <input type='text' class="form-control" name="detalle.descripcion" [(ngModel)]="detalle.descripcion"/>
            </div>

            <div class="form-group col-sm-12 mt-5">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-12">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-control form-select" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Entrada">Entradas</option>
                   <option value="Salida">Salidas</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
