<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Compra <small class="text-muted p-2"> Info</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/compras">Compras</a></li>
            <li class="breadcrumb-item"><a>Compra</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        
        <div class="row">
            <div class="form-group col-md-2">
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" [(ngModel)]="compra.fecha" class="form-control">
            </div>

            <!-- <div class="form-group col-md-2">
                <label for="estado">* Estado:</label>
                <select class="form-control form-select" name="estado" [(ngModel)]="compra.estado">
                   <option value="Pendiente">Pendiente</option>
                   <option value="Pagada">Pagada</option>
                </select>
            </div> -->
            <div class="form-group col-md-2">
                <label for="tipo">Tipo:</label>
                <select class="form-control form-select" [(ngModel)]="compra.tipo" name="tipo">
                    <option value="Interna">Interna</option>
                    <option value="Importacion">Importacion</option>
                </select>
            </div>
            <!-- <div class="form-group col-md-2">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia" focus="true">
            </div>
 -->
            <div class="form-group col-md-6">
                <app-compra-proveedor [proveedor]="compra.proveedor" (proveedorSelect)="proveedorSelect($event)"></app-compra-proveedor>
            </div>
            <div class="form-group col-md-2 text-right ">
                <label for="">Total:</label>
                <h3 class="no-margin no-padding">
                    <label class="badge badge-primary">{{ compra.total | currency:'USD':'symbol':'1.2'}}</label>
                </h3>
            </div>
        </div>

        <div class="card mb-0">
            <div class="card-body p-0">
                <!-- <h5 class="text-center my-4">Detalle: </h5> -->
                <app-compra-detalles [compra]="compra" (update)="updateOrden($event)" (sumTotal)="sumTotal()"></app-compra-detalles>

            </div>
        </div>
    </div> 
        <div class="card-footer">
            <app-compra-producto (productoSelect)="productoSelect($event)"></app-compra-producto>
            <button (click)="onSubmit()" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary float-end tcla-F10" style="margin-left: 15px;">
                <i class="fa fa-save"></i> 
                <span *ngIf="!loading"> Guardar <small>(F10)</small></span>
                <span *ngIf="loading"> Guardando...</span>
            </button>
            <button (click)="openModal(facturar)" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary float-end tcla-F9" style="margin-left: 15px;">
                <i class="fa fa-clock"></i> 
                <span *ngIf="!loading"> Pendiente de pago <small>(F9)</small></span>
                <span *ngIf="loading"> Guardando...</span>
            </button>
            <button (click)="openModalDevolucion(devolucion)" [disabled]="loading || compra?.detalles?.length < 1 || !compra?.proveedor?.nombre" class="btn btn-primary float-end tcla-F8">
                <i class="fa fa-exchange-alt"></i> Devolución  <small>(F8)</small>
            </button>
        </div>
</div>

<ng-template #facturar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cuenta por pagar</h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onPosponer()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="fecha_pago">Fecha de Pago:</label><br>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha_pago" name="fecha_pago" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="tipo">Tipo:</label>
                <select class="form-control" [(ngModel)]="compra.tipo" name="tipo">
                    <option value="Interna">Interna</option>
                    <option value="Importacion">Importacion</option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading || !compra.fecha_pago || !compra.referencia" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar como pendiente</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #devolucion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Devolución</h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onDevolucion()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="compra.fecha" name="fecha" focus="true">
            </div>
            <div class="col-sm-12">
                <label for="tipo">* Tipo:</label><br>
                <div class="form-check w-100">
                  <input class="form-check-input" type="radio"  [(ngModel)]="compra.tipo" value="Cambio de producto"  name="tipo" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cambio de producto
                  </label>
                </div>
                <div class="form-check w-100">
                  <input class="form-check-input" type="radio"  [(ngModel)]="compra.tipo" value="Devolución de dinero"  name="tipo" id="flexRadioDefault">
                  <label class="form-check-label" for="flexRadioDefault">
                    Devolución de dinero
                  </label>
                </div>

            </div>
            <div class="form-group col-sm-12">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.referencia" name="referencia" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="nota">Nota:</label><br>
                <input type="text" class="form-control" [(ngModel)]="compra.nota" name="nota">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading || !compra.referencia" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mproducto>
  <div class="modal-header text-center">
    <h3 class="modal-title">{{ detalle.producto_nombre }}</h3>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="producto" autocomplete="off" (ngSubmit)="guardarDetalle()">
        <div class="form-group col-sm-3">
            <label for="cantidad">Cantidad:</label>
            <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalleModificado.cantidad" (change)="calcular()">
        </div>
        <div class="form-group col-sm-3">
            <label for="costo">Costo:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.costo" name="costo" (change)="calcular()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="descuento">Descuento:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.descuento" name="descuento" placeholder="%" (change)="calcular()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="iva">IVA:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.iva" name="iva">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="subtotal">Sub Total</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.subtotal" name="subtotal" (change)="calcularCosto()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="total">Total</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.total" name="total" (change)="calcular()">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="precio">Precio:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.precio" name="precio">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="precio_nuevo">Nuevo Precio:</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.precio_nuevo" name="precio_nuevo">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="tipo">Tipo:</label>
            <select class="form-control" [(ngModel)]="detalleModificado.tipo" name="tipo" (change)="calcular()">
                <option value="Exenta">Exenta</option>
                <option value="Gravada">Gravada</option>
                <option value="No Sujeta">No Sujeta</option>
            </select>
        </div>
        <div class="row">
            <div class="col-xs-12 mr-top">
                <button type="submit" [disabled]="!detalleModificado.cantidad || !detalleModificado.costo" class="btn btn-primary float-end"> Guardar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>