<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" width="50px">
                    <a class="btn btn-sm btn-primary" tooltip="Agregar" (click)="openModal(mexamenes)"> <i class="fa fa-plus"></i> </a>
                </th>
                <!-- <th>ID</th> -->
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" class="text-center" *ngIf="consulta.examenes?.length < 1 && !loading">
                    <span class="badge badge-info">No tiene examenes agregados</span>
                </td>
                <td colspan="3" class="text-center" *ngIf="loading">
                    <span class="badge badge-info">Cargando...</span>
                </td>
            </tr>
            <tr *ngFor="let examen of consulta.examenes">
                <td style="width: 100px;" class="text-center">
                    <a class="btn btn-sm btn-danger" tooltip="Eliminar" (click)="delete(examen)">
                      <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
                <!-- <td>{{ examen.id }}</td> -->
                <td>{{ examen.nombre_examen }}</td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #mexamenes>
    <div class="modal-header">
        <div class="modal-title text-center">
            <h2 class="text-center no-margin">Exámenes</h2>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="fa-2x">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-12">
                <input type="text" name="buscador" class="form-control" placeholder="Nombre o código" [(ngModel)]="buscador" focus="true" id="example">
            </div>
                
            <div class="table-responsive" style="max-height: 70vh; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Especialidad</th>
                            <th>Nombre</th>
                            <th>Etiquetas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td colspan="5" class="text-center" *ngIf="examenes?.length < 1 && !loading">
                            <span class="badge badge-info">No tiene examenes agregados</span>
                        </td>
                        <td colspan="5" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                        <tr *ngFor="let examen of examenes">
                            <td class="text-center">
                                <a class="btn btn-sm btn-primary" (click)="onSubmit(examen)"> <i class="fa fa-plus"></i> </a>
                            </td>
                            <td>{{ examen.especialidad }}</td>
                            <td>{{ examen.nombre }}</td>
                            <td>{{ examen.etiquetas }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
