<form name="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-5">
            <label for="nombre">* Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required focus="true">
        </div>
        <div class="form-group col-md-3">
            <label for="codigo">Código:</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo" placeholder="Código" required>
                <span class="input-group-text">
                    <a class="click" tooltip="Generar codigo" (click)="barcode()"><i class="fa fa-barcode"></i></a>
                </span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="categoria_id">* Categoria:</label>
            <select [(ngModel)]="producto.categoria_id" class="form-control form-select" name="categoria_id">
                <optgroup label="{{ categoria.nombre }}" *ngFor="let categoria of categorias">
                    <option [value]="sub.id" *ngFor="let sub of categoria.subcategorias">{{ sub.nombre }}</option>
                  </optgroup>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="medida">Medida:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.medida" name="medida" placeholder="Unidad, Lb, Cm etc." required>
        </div>
        <div class="form-group col-md-3">
            <label for="costo">* Costo:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-3">
            <label for="costo_anterior">Costo Anterior:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.costo_anterior" name="costo_anterior" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-3">
            <label for="costo_promedio">Costo Promedio:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.costo_promedio" name="costo_promedio" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-2">
            <label for="precio">* Precio:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-2">
            <label for="precio2">Precio 2:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.precio2" name="precio2" placeholder="$0.00">
        </div>
        <div class="form-group col-md-2">
            <label for="precio3">Precio 3:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.precio3" name="precio3" placeholder="$0.00">
        </div>
        <div class="form-group col-md-2">
            <label for="precio4">Precio 4:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.precio4" name="precio4" placeholder="$0.00">
        </div>
        <div class="form-group col-md-2">
            <label for="margen">Utilidad:</label>
            <div class="input-group">
                <input type="number" min="1" class="form-control" [(ngModel)]="producto.utilidad" name="utilidad">
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="rentabilidad">Rentabilidad:</label>
            <div class="input-group">
                <input type="number" min="1" class="form-control" [(ngModel)]="producto.rentabilidad" name="rentabilidad">
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" [(ngModel)]="producto.descripcion" name="Descripcion" placeholder="Descripción" cols="30" rows="2"></textarea>
        </div>
<!--         <div class="form-group col-md-3">
            <label>Llevar control de Inventario </label>
            <input type="checkbox" class="form-check" [(ngModel)]="producto.inventario" name="inventario" (change)="onSubmit()">
        </div>
        <div class="form-group col-md-4" *ngIf="producto.inventario">
            <label for="bodega_venta_id">Bodega de venta :</label>
            <select name="bodega_venta_id" [(ngModel)]="producto.bodega_venta_id" class="form-control form-select">
                <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
            </select>
        </div> -->
        <div class="form-group col-md-4">
            <label>Es un producto compuesto </label>
            <input type="checkbox" class="form-check" [(ngModel)]="producto.compuesto" name="compuesto" (change)="onSubmit()">
        </div>
        <div class="form-group col-md-12">
            <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
                <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
</form>
