<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Consultas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/consultas">Consultas</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="consultas?.total">{{ consultas?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                <a tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></a>
                <a tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></a>
                <a routerLink="/consulta/nueva" tooltip="Crear" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Doctor</th>
                        <th>Paciente</th>
                        <th>Estado</th>
                        <th>Motivo</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="consultas?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene consultas registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let consulta of consultas?.data">
                        <td>{{ consulta.id }}</td>
                        <td>{{ consulta.fecha  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ consulta.fecha  | date:'hh:mm:ss a' }}</td>
                        <td>{{ consulta.nombre_usuario }}</td>
                        <td>{{ consulta.nombre_paciente }}</td>
                        <td>
                            <span class="badge" [ngClass]="{ 
                                'badge-danger' : consulta.estado == 'En Espera', 
                                'badge-warning' : consulta.estado == 'En Proceso', 
                                'badge-success' : consulta.estado == 'Finalizada', 
                                'badge-dark' : consulta.estado == 'Cancelada'}">
                                {{ consulta.estado }}
                            </span>
                        </td>
                        <td>{{ consulta.motivo | truncate:20}}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(consulta)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <a tooltip="Editar" class="btn btn-default" routerLink="/consulta/{{ consulta.id }}" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="consultas?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="consultas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Solicitada">Solicitada</option>
                   <option value="En Proceso">En Proceso</option>
                   <option value="Entregada">Entregada</option>
                   <option value="Finalizada">Finalizada</option>
                   <option value="Cancelada">Cancelada</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.metodo_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.metodo_pago" class="form-control" name="filtro.metodo_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Credito">Crédito Fiscal</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Vale">Vale</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Versatec">Versatec</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.tipo_documento">Tipo de Transacción:</label>
                <select [(ngModel)]="filtro.tipo_documento" class="form-control" name="filtro.tipo_documento">
                    <option value="">Todos</option>
                    <option value="Credito Fiscal">Crédito Fiscal</option>
                    <option value="Factura">Factura</option>
                    <option value="Ticket">Ticket</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
