<div class="card pb-0">
    <div class="card-body pb-0">
    <div class="row">
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Fecha de registro:</label>
            <p>{{ cliente.created_at | date:'d/M/y hh:mm:ss a' }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Última actualización:</label>
            <p>{{ cliente.updated_at  | date:'d/M/y hh:mm:ss a' }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Número de ventas:</label>
            <p>{{ cliente.num_ventas }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Número de créditos:</label>
            <p>{{ cliente.num_creditos }}</p>
        </div>
    </div>

    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        
    <form (ngSubmit)="submit()">
        <div class="row" *ngIf="cliente">
            <h5 class="col-12 pb-2 mb-2">Información:</h5>
            <div class="form-group col-lg-3">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre">
            </div>
            <div class="form-group col-6 col-lg-2">
                <label for="sexo">Sexo:</label>
                <select class="form-control form-select" name="sexo" [(ngModel)]="cliente.sexo">
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="form-group col-6 col-lg-2">
                <label for="estado_civil">Estado civil:</label>
                <select class="form-control form-select" name="estado_civil" [(ngModel)]="cliente.estado_civil">
                    <option value="Casado">Casado</option>
                    <option value="Soltero">Soltero</option>
                </select>
            </div>
            <div class="form-group col-6 col-lg-2">
                <label for="fecha_nacimiento">Fecha nacimiento:</label>
                <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="cliente.fecha_nacimiento">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="profesion">Profesión:</label>
                <input type="text" class="form-control" name="profesion" [(ngModel)]="cliente.profesion">
            </div>
            <h5 class="col-12 pb-2 my-4">Facturación:</h5>
            <div class="form-group col-6 col-lg-3">
                <label for="registro">NRC:</label>
                <input type="text" class="form-control" name="registro" [(ngModel)]="cliente.registro">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="giro">Giro:</label>
                <input type="text" class="form-control" name="giro" [(ngModel)]="cliente.giro">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="dui">DUI:</label>
                <input type="text" class="form-control" name="dui" [(ngModel)]="cliente.dui">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="nit">NIT:</label>
                <input type="text" class="form-control" name="nit" [(ngModel)]="cliente.nit">
            </div>
            <h5 class="col-12 pb-2 my-4">Contactos:</h5>
            <div class="form-group col-6 col-lg-3">
                <label for="telefono">Teléfono:</label>
                <input type="text" class="form-control" name="telefono" [(ngModel)]="cliente.telefono">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="correo">Correo:</label>
                <input type="email" class="form-control" name="correo" [(ngModel)]="cliente.correo">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" name="municipio" [(ngModel)]="cliente.municipio">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" name="departamento" [(ngModel)]="cliente.departamento">
            </div>
            <div class="form-group col-6 col-lg-6">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" name="direccion" [(ngModel)]="cliente.direccion">
            </div>
            <div class="form-group col-lg-6">
                <label for="etiquetas">Etiquetas:</label>
                <tag-input theme='bootstrap' [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="cliente.etiquetas" name="etiquetas"></tag-input>
            </div>
            <div class="form-group col-lg-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" name="nota" [(ngModel)]="cliente.nota">
            </div>
            
            
            <div class="form-group col-md-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary float-right tcla-F4">
                    <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
    </div>
</div>

<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Otros <small class="text-muted p-2"> Datos</small></h2>
    </div>
</div>


