<a class="btn btn-default float-right" (click)="openModal(mproducto)" tooltip="Agregar">
    <i class="fa fa-plus"></i>
</a>

<ng-template #mproducto>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Productos</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0"  style="max-height: 400px; overflow-y: auto;">
        <input type="text" placeholder="Buscar..." class="form-control" [(ngModel)]="buscador">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th-stiky ">Img</th>
                    <th class="th-stiky ">Nombre</th>
                    <th class="th-stiky text-center">Precio</th>
                    <th class="th-stiky text-center"></th>
                </tr>
            </thead>
            <tbody class="mt-4">
                <tr>
                    <td colspan="8" class="text-center" *ngIf="productos?.length < 1 && !loading">
                        <span class="label label-info">No tiene productos registrados</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="label label-info">Cargando...</span>
                    </td>
                </tr>
                <tr *ngFor="let producto of productos | filter:'nombre':buscador">
                    <td><img src="{{ apiService.baseUrl + '/img/' + producto.img }}" width="50px"></td>
                    <td>{{ producto.nombre }}</td>
                    <td class="text-center">
                        <span *ngIf="producto.precio_oferta">
                            {{ producto.precio_oferta | currency:'USD':'symbol':'2.2'  }} <span style="text-decoration: line-through">{{ producto.precio | currency:'USD':'symbol':'2.2'  }}</span>
                        </span>
                        <span *ngIf="!producto.precio_oferta">
                            {{ producto.precio | currency:'USD':'symbol':'2.2'  }}
                        </span>
                    </td>
                    <td class="text-center">
                        <input type="radio" name="productos[]" (click)="select(producto)">
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
  <div class="modal-footer">
        <input type="number" id="cantidad" class="form-control text-center" name="cantidad" [(ngModel)]="detalle.cantidad" placeholder="Cantidad">
        <button class="btn btn-primary btn-block" [disabled]="!detalle.cantidad"  (click)="agregarDetalle()">Agregar</button>
  </div>
</ng-template>
