
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <!-- <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ventas
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ordenes">Ordenes</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/ventas">Ventas</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/devoluciones/ventas">Devoluciones</a></li>
            <li> <hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/clientes">Clientes</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/clientes/crm">CRM</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/clientes/cuentas-cobrar">CXC</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/reporte/ventas/historial">Ventas por Fecha</a> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/reporte/ventas/detalle">Ventas por Producto</a> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/reporte/ventas/categorias">Ventas por Categorias</a> </li>
        </ul>
    </li> -->
    <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pacientes
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/pacientes">Pacientes</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/consultas">Concultas</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/citas">Citas</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/examenes">Exámenes</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/recetas">Recetas</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Inventario
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/productos">Productos</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/servicios">Servicios</a></li>
            <!-- <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/materias-primas">Materia Prima</a></li> -->
            <li> <hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/kardex/producto">Kardex</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/traslados">Traslados</a></li>
            <li> <hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/analisis/productos">Análisis de productos</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Compras
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/compras">Compras</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/compra/nueva">Compra</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/devoluciones/compras">Devoluciones</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/proveedores">Proveedores</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/proveedores/cuentas-pagar">CXP</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/reporte/compras/historial">Compras por Fecha</a> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/reporte/compras/detalle">Compras por Producto</a> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/reporte/compras/categorias">Compras por Categorias</a> </li>
        </ul>
    </li>
  <!--   <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Creditos
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/creditos">Creditos</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/pagos">Pagos</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/plan-de-pagos">Crear plan de pagos</a></li>
        </ul>
    </li> -->
    <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Contabilidad
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/gastos">Gastos</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/gastos/dash">Reporte de gastos</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/activos">Activos</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/cajas-chicas">Cajas Chicas</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/libro-iva">Libro de IVA</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/libro-compras">Libro de Compras</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Empleados
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/empleados">Empleados</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/comisiones">Comisiones</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/planillas">Planillas</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/asistencias">Asistencias</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Administración
        </a>
        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/negocio">Clínica</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/sucursales">Sucursales</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/usuarios">Usuarios</a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/categorias">Categorias</a></li>
        </ul>
    </li>
</ul>
