<div class="box-body table-responsive no-padding min-heigth">
  <div class="box-body animated fadeIn" (click)="loadAll()">
      <div *ngIf="datasets.length">
          <div style="position: relative; height:200px; width: 100%;">
              <canvas baseChart
                      [datasets]="datasets"
                      [labels]="labels"
                      [options]="options"
                      [colors]="colors"
                      [chartType]="type">
              </canvas>
          </div>
      </div>
      <div *ngIf="!datasets.length">
          <div style="position: relative; height:200px; width: 100%;">
              <div class="text-muted text-center thumbler">
                <i class="fa fa-pie-chart fa-5x"></i>
                <br>
                Sin datos
              </div>
          </div>
      </div>
  </div>

</div>