<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <p class="display-6 text-muted text-center">
        <i class="fa fa-box-open fa-3x"></i>
        <br>
        No encontramos lo que buscas :(
    </p>
    <p>
        <a routerLink="/" class="btn btn-default">Ir al inicio</a>
    </p>
</div>