<div class="row">  
            <div class="col-lg-12">    
                <div class="card">
                    <div class="card-body">
                        <div>{{ evento | json }}</div>
                        <full-calendar  [options]="calendarOptions"></full-calendar>
                    </div>
                </div>

<ng-template #mevento>
    <div class="modal-header">
        <h3 class="modal-title text-center"></h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">

            <div class="form-group col-md-12">
                <label for="title">Titulo:</label>
                <input type="text" class="form-control" [(ngModel)]="evento.title" name="title">
            </div>
            <div class="form-group col-md-12">
                <label for="start">Fecha:</label>
                <input type="text" class="form-control" [(ngModel)]="evento.start" name="start">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!evento.fecha">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>
