<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" width="50px">
                    <a class="btn btn-sm btn-primary" tooltip="Agregar" (click)="openModal(mdiagnosticos)"> <i class="fa fa-plus"></i> </a>
                </th>
                <th>Codigo</th>
                <th>Diagnostico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" class="text-center" *ngIf="consulta.diagnosticos?.length < 1 && !loading">
                    <span class="badge badge-info">No tiene diagnosticos agregados</span>
                </td>
                <td colspan="3" class="text-center" *ngIf="loading">
                    <span class="badge badge-info">Cargando...</span>
                </td>
            </tr>
            <tr *ngFor="let diagnostico of consulta.diagnosticos">
                <td style="width: 100px;" class="text-center">
                    <a class="btn btn-sm btn-danger" tooltip="Eliminar" (click)="delete(diagnostico)">
                      <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
                <td>{{ diagnostico.codigo }}</td>
                <td>{{ diagnostico.descripcion }}</td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #mdiagnosticos>
    <div class="modal-header">
        <div class="modal-title text-center">
            <h2 class="text-center no-margin">Diagnosticos</h2>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="fa-2x">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <input type="text" name="buscador" class="form-control" placeholder="Nombre o código" [(ngModel)]="buscador" focus="true" id="example">
            </div>
                
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-borderless table-hover mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Codigo</th>
                            <th>Diagnostico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" class="text-center" *ngIf="diagnosticos?.length < 1 && !loading && buscador.length > 2">
                                <span class="badge badge-primary">No tiene diagnosticos agregados</span>
                            </td>
                            <td colspan="3" class="text-center" *ngIf="loading">
                                <span class="badge badge-primary">Cargando...</span>
                            </td>
                        </tr>
                        <tr *ngFor="let diagnostico of diagnosticos">
                            <td>{{ diagnostico.codigo }}</td>
                            <td>{{ diagnostico.descripcion }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-primary" (click)="onSubmit(diagnostico)"> <i class="fa fa-plus"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
