
<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Kardex <small class="text-muted p-2"> producto</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/productos">Productos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Kardex</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-body row text-center justify-content-center">
                <div class="col-6">
                    <div class="form-group">
                        <app-buscador-productos [producto]="producto" (selectProducto)="selectProducto($event)"></app-buscador-productos>
                    </div>
                </div>
                <div class="col-12">
                    <form name="form" (ngSubmit)="loadAll()" class="form-inline justify-content-center">
                        <div class="form-group ml-3">
                            <label for="">Del: </label>
                            <input type='date' class="ml-2 form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                        </div>
                        <div class="form-group ml-3">
                            <label for="">Al: </label>
                            <input type='date' class="ml-2 form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                        </div>
                        <div class="form-group mx-3">
                            <label for="">Inventario: </label>
                            <select style="min-width: 150px;" class="ml-2 form-control form-select" [(ngModel)]="filtro.bodega_id" name="bodega_id">
                                <option [value]="bodega.id" *ngFor="let bodega of bodegas">
                                    {{ bodega.nombre }}
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loading">
                            <i *ngIf="!loading" class="fa fa-search"></i>
                            <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive bg-white">
            <table class="table table-bordered table-hover mr-top" id="tablaReporte">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="2" class="text-center">Entradas</th>
                        <th colspan="2" class="text-center">Salidas</th>
                        <th colspan="2" class="text-center">Saldo</th>
                    </tr>
                    <tr>
                        <th class="text-center">Fecha</th>
                        <th>Usuario</th>
                        <th>Detalle</th>
                        <th class="text-center">Precio Unitatio</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="producto?.movimientos?.length < 1 && !loading">
                            <span class="label label-info">No tiene movimientos registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="label label-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let movimiento of producto?.movimientos">
                        
                        <td class="text-center">{{movimiento.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{movimiento.nombre_usuario}}</td>
                        <td>{{movimiento.detalle}}</td>
                        <td class="text-center">{{movimiento.valor_unitario  | currency:'USD':'symbol':'1.2'}}</td>

                        <td class="text-center">{{movimiento.entrada_cantidad }}</td>
                        <td class="text-center">{{movimiento.entrada_valor  | currency:'USD':'symbol':'1.2'}}</td>

                        <td class="text-center">{{movimiento.salida_cantidad }}</td>
                        <td class="text-center">{{movimiento.salida_valor  | currency:'USD':'symbol':'1.2'}}</td>

                        <td class="text-center">{{movimiento.total_cantidad }}</td>
                        <td class="text-center">{{movimiento.total_valor  | currency:'USD':'symbol':'1.2'}}</td>
                    </tr>

                </tbody>
                
            </table>
        </div>
    </div>
</div>