
<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Productos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Productos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="productos?.total">{{ productos?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button type="submit" tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                <button type="button" tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <a tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></a>
            </div>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th *ngIf="producto?.lista_sucursales?.length > 1">Sucursales</th>
                        <th class="text-center">Stock</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="productos?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene productos registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let producto of productos?.data">
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>
                            {{ producto.nombre_categoria }}
                            &rsaquo;
                            {{ producto.nombre_subcategoria }}
                        </td>
                        <td *ngIf="producto?.lista_sucursales?.length > 1">
                            <div class="btn-group" role="group" *ngIf="producto?.lista_sucursales?.length">
                                <span *ngFor="let sucursal of producto.lista_sucursales; let i=index">
                                    <input type="checkbox" (click)="checked(producto, sucursal)" [checked]="sucursal.agregado" class="btn-check" id="btncheck{{producto.id}}{{sucursal.id}}" autocomplete="off">
                                    <label title="{{ sucursal?.nombre }}" class="btn btn-outline-primary rounded-circle" for="btncheck{{producto.id}}{{sucursal.id}}">
                                        {{ sucursal?.nombre?.substring(0, 1) }}
                                    </label>
                                </span>
                            </div>
                        </td>
                        <td class="text-center">
                            <span style="display: block; height: 40px; line-height: 40px;" *ngIf="producto.inventario"  class="click" placement="left" [popover]="popTemplate" triggers="mouseenter:mouseleave">
                                {{ producto.inventarios | sum:'stock' | number:'1.2' }}
                            </span>
                            <ng-template #popTemplate>
                                <span *ngIf="producto?.inventarios?.length > 0">
                                    <table width="200px">
                                        <thead>
                                            <tr>
                                                <td>Sucursal</td>
                                                <td>Bodega</td>
                                                <td>Cantidad</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let inventario of producto?.inventarios">
                                                <td>{{ inventario.nombre_sucursal}}</td>
                                                <td>{{ inventario.nombre_bodega }}</td>
                                                <td class="text-right">{{ inventario.stock }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </span>
                                <span *ngIf="producto?.inventarios?.length == 0">
                                    <p> Sin inventarios configurados </p>
                                </span>
                            </ng-template>
                            <span *ngIf="!producto.inventario">
                                Sin control
                            </span>
                        </td>
                        <td class="text-center">{{ producto.costo  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ producto.precio  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Editar" class="btn btn-default" (click)="openModal(mproducto, producto)" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="productos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="productos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="categoria_id">Categoria:</label>
                <select [(ngModel)]="filtro.categoria_id" class="form-control form-select" name="categoria_id">
                    <option value="">Todas</option>
                    <optgroup label="{{ categoria.nombre }}" *ngFor="let categoria of categorias">
                        <option [value]="sub.id" *ngFor="let sub of categoria.subcategorias">{{ sub.nombre }}</option>
                      </optgroup>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.stock_bodega">Inventario bajo en Bodega:</label>
                <input type="checkbox" [(ngModel)]="filtro.stock_bodega" class="form-check" name="filtro.stock_bodega">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.stock_venta">Inventario bajo en Sala Venta:</label>
                <input type="checkbox" [(ngModel)]="filtro.stock_venta" class="form-check" name="filtro.stock_venta">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.sin_control_inventario">Sin control de inventario:</label>
                <input type="checkbox" [(ngModel)]="filtro.sin_control_inventario" class="form-check" name="filtro.sin_control_inventario">
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.sin_condigo">Sin código de barras:</label>
                <input type="checkbox" [(ngModel)]="filtro.sin_condigo" class="form-check" name="filtro.sin_condigo">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>



<ng-template #mproducto>
    <div class="modal-header">
        <div class="modal-title text-center">
            <h2 class="text-center no-margin">Producto</h2>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <p class="col-sm-12"><b>Nombre:</b> {{ producto.nombre}}</p>
            <p class="col-sm-12"><b>Descripcion:</b> {{ producto.descripcion}}</p>
            <!-- <p class="col-sm-6"><b>Código:</b> {{ producto.codigo}}</p> -->
            <p class="col-sm-6"><b>Medida:</b> {{ producto.medida}}</p>
            <p class="col-sm-6"><b>Precio:</b> {{ producto.precio | currency:'USD':'symbol':'1.2' }}</p>
            <p class="col-sm-4"><b>Precio 2:</b> {{ producto.precio2 | currency:'USD':'symbol':'1.2' }}</p>
            <p class="col-sm-4"><b>Precio 3:</b> {{ producto.precio3 | currency:'USD':'symbol':'1.2' }}</p>
            <p class="col-sm-4"><b>Precio 4:</b> {{ producto.precio4 | currency:'USD':'symbol':'1.2' }}</p>
            <p class="col-sm-4"><b>Stock:</b>  {{ producto.inventarios | sum:'stock' | number:'1.2' }} </p>
            <!-- <p class="col-sm-6"><b>Costo:</b> {{ producto.costo}}</p> -->
            <!-- <p class="col-sm-6"><b>Costo_anterior:</b> {{ producto.costo_anterior}}</p> -->
            <p class="col-sm-12"><b>Categoria:</b> {{ producto.nombre_categoria}}</p>
            <p class="col-sm-12"><b>Sub categoria:</b> {{ producto.nombre_subcategoria}}</p>
            <!-- <p class="col-sm-6"><b>Tipo:</b> {{ producto.tipo}}</p> -->
            <!-- <p class="col-sm-6"><b>Tipo_impuesto:</b> {{ producto.tipo_impuesto}}</p> -->
            <!-- <p class="col-sm-6"><b>Compuesto:</b> {{ producto.compuesto}}</p> -->
            <!-- <p class="col-sm-6"><b>Activo:</b> {{ producto.activo}}</p> -->
            <p class="col-sm-12"><b>Nota:</b> {{ producto.nota}}</p>
            <!-- <p><b>Empresa_id:</b> {{ producto.empresa_id}}</p> -->
        </div>
    </div>
</ng-template>
