
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
    <table class="table table-bordered">
        <thead>
            <tr> <th class="text-center" colspan="2">Detalle de Venta</th> </tr>
        </thead>
        <tbody>
            <tr> <td>Venta Efectivo</td> <td class="text-center">{{ estadisticas.ventas_efectivo | currency:'USD':'symbol':'1.2' }}</td> </tr>
            <tr> <td>Venta Tarjeta</td> <td class="text-center">{{ estadisticas.ventas_tarjeta | currency:'USD':'symbol':'1.2' }}</td> </tr>
            <tr> <td>Venta Vales</td> <td class="text-center">{{ estadisticas.ventas_vale | currency:'USD':'symbol':'1.2' }}</td> </tr>
            <tr> <td>Devoluciones</td> <td class="text-center">{{ estadisticas.devoluciones | currency:'USD':'symbol':'1.2' }}</td> </tr>
            <tr> <td><b>Venta Total</b></td> <td class="text-center"><b>{{ estadisticas.venta | currency:'USD':'symbol':'1.2' }}</b></td> </tr>            
        </tbody>
    </table>
<!--     <table class="table table-bordered">
        <thead>
            <tr> <th class="text-center" colspan="2">Galonaje</th> </tr>
        </thead>
        <tbody>
            <tr> <td>Super</td> <td class="text-center"> {{ estadisticas.galones_dia_super | number:'1.2' }} Gal</td> </tr>
            <tr> <td>Regular</td> <td class="text-center"> {{ estadisticas.galones_dia_regular | number:'1.2' }} Gal</td> </tr>
            <tr> <td>Diesel</td> <td class="text-center"> {{ estadisticas.galones_dia_diesel | number:'1.2' }} Gal</td> </tr>
            <tr> <td><b>Total</b></td> <td class="text-center"> <b>{{ estadisticas.galones_dia | number:'1.2' }} Gal</b></td> </tr>
        </tbody>
    </table> -->
    <table class="table table-bordered">
        <thead>
            <tr> <th class="text-center" colspan="2">Documentos</th> </tr>
        </thead>
        <tbody>
            <tr> <td>Créditos Fiscales</td> <td class="text-center"> {{ estadisticas.consumidor_final }}</td> </tr>
            <tr> <td>Facturas</td> <td class="text-center"> {{ estadisticas.factura }}</td> </tr>
            <tr> <td>Ticket</td> <td class="text-center"> {{ estadisticas.ticket }}</td> </tr>
            <tr> <td>Sin documento</td> <td class="text-center"> {{ estadisticas.ninguno }}</td> </tr>
            <tr> <td><b>Total</b></td> <td class="text-center"> <b>{{ estadisticas.num_ventas }}</b></td> </tr>
        </tbody>
    </table>
    </div>
</div>
